/**
 * Created by wenkai on 9/16/14.
 */
@charset "utf-8";
.box-bigmenu-ctrl{width: 270px;height: 256px;float: left;margin-top: -156px;position: relative;overflow: visible;cursor: pointer}
.box-bigmenu-ctrl .ffff{width: 250px;height:100%;position:relative;float: right;background: #4283c9 url('../images/box/zxdh.jpg') no-repeat center 19px;}
.kvblock ul{left: 270px;width: 750px;}
.box-bigmenu-ctrl .box-kefu{z-index:2;position: absolute;left: 33px;top: 95px;width: 287px;height: 162px;background: url('../images/box/kefu.png') no-repeat 0 0;_background-image: url('../images/gif/kefu.gif')}
.box-bigmenu-ctrl .box-kstz{z-index:3;position: absolute;left: 33px;top: 180px;width: 97px;height: 19px;background: url('../images/box/kqtz.jpg') no-repeat 0 0;display: block}
.box-bigmenu-ctrl .box-closemenu{z-index:3;position: absolute;left: 0;bottom:0;width: 60px;height: 20px;background: url('../images/box/shouqi.jpg') no-repeat 0 0 ;display: block;}
.kvblock ul{background-image: url('../images/box/kvblock.jpg');overflow: hidden;}
.kvblock ul li{height: 132px;padding: 0;}
.kvblock ul li a{text-indent: -1000em;display: block;width: 100%;height: 100%;}

.box-bigmenu-ctrl .box-minikefu{width:270px;height:97px;display:none;position: absolute;left: 0;bottom:0;background: url('../images/box/xm_03.png') no-repeat 0 0;}
.box-hidebigmenu{width: 20px;height: 20px;position: absolute;top:0;right: 0;background: url('../images/box/close_03.jpg') no-repeat 0 0;}

.licai_p1 img,.licai_p2 img,.licai_p3 img,.licai_p4 img{display: none;}
/*
.licai_p1,.licai_p2,.licai_p3,.licai_p4{position: relative;}
.licai_p1 img,.licai_p2 img,.licai_p3 img,.licai_p4 img{position: absolute;left: -25px;top: -36px;display: none;}
.licai_p3 img{left: -30px;top:-30px;}
.licai_p2 img{left: -35px;top:-30px;}
.licai_p4 img{left: -31px;top:-30px;}

.licai_p1.box-hovereffect, .licai_p3.box-hovereffect, .licai_p2.box-hovereffect, .licai_p4.box-hovereffect
{
    background: none;
}

.licai_p1.box-hovereffect img,.licai_p2.box-hovereffect img,.licai_p3.box-hovereffect img,.licai_p4.box-hovereffect img{display: block;}
.hotspro_p2{height: 74px;}
.box-hovereffect .hotspro_p2{padding: 6px 0;height: 102px;}

*/
/*
.box-hovereffect .hotspro_p2{padding: 6px 0;height: 102px;background: url('../images/gif/hotpro1.gif') no-repeat 16px top}
.box-hovereffect .hotspro_p2 img{display: none;}
.box-hovereffect .hotspro_p2.box-2{background: url('../images/gif/hotpro2.gif') no-repeat 18px 5px}
.box-hovereffect .hotspro_p2.box-3{background: url('../images/gif/hotpro3.gif') no-repeat 18px 8px}
*/

.box-index-container{height: 185px;overflow: visible;}
.index_kstd .box-index-container ul{overflow: visible;}
.box-index-container li p.box-p1{-webkit-transition-duration: 0.5s;-moz-transition-duration: 1s;-o-transition-duration: 1s;-ms-transition-duration: 1s;transition-duration: 0.5s;}
.box-index-container li.box-hovereffect p.box-p1{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);-webkit-transition-duration: 0.5s;-moz-transition-duration: 1s;-o-transition-duration: 1s;-ms-transition-duration: 1s;transition-duration: 0.5s;}
.box-effect-img-wrap{width: 100%;height: 146px;overflow: hidden}
.box-effect-img-wrap.box-2{height: 129px;}
.box-effect-img-wrap img{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);-webkit-transition-duration: 0.5s;-moz-transition-duration: 0.5s;-o-transition-duration: 0.5s;-ms-transition-duration: 0.5s;transition-duration: 0.5s;display: block;width: 100%;height: 100%;}
.box-hovereffect:hover .box-effect-img-wrap img{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}

.box-effect-img-wrap.box-3{height: 148px;}
.khzx_2.box-hoveraddeffect{padding: 0;}
.box-effect-img-wrap.box-4{height: 139px;}

.box-effect-img-wrap.box-5 img{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}
.box-hovereffect.box-tobig:hover .box-effect-img-wrap.box-5 img{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);-webkit-transition-duration: 0.5s;-moz-transition-duration: 0.5s;-o-transition-duration: 0.5s;-ms-transition-duration: 0.5s;transition-duration: 0.5s;display: block;width: 100%;height: 100%;}
.box-effect-img-wrap.box-5{height: 136px;}