/**
 * Created by wenkai on 9/4/14.
 */
@charset "utf-8";

/* 右侧浮动的菜单 */
.backtop{bottom: 150px;}
.box-ewm-weixin, .box-ewm-shouji{position: absolute;width: 145px;height: 301px;left: -146px;top:0;background: url('../images/wxewm.jpg') no-repeat 0 0;display: none;}
.box-ewm-shouji{top:auto;bottom:0;background-image: url('../images/sjewm.jpg');height: 151px;}

.backtop a{background-position: center;background-repeat: no-repeat;}
.backtop a.a1:hover{background-image: url('../images/icon/a12.jpg');}
.backtop a.a2:hover{background-image: url('../images/icon/a22.jpg');}
.backtop a.a3:hover{background-image: url('../images/icon/a32.jpg');background-position: center -1px}
.backtop a.a4:hover{background-image: url('../images/icon/a42.jpg');background-position: center -1px}
.backtop a.a5:hover{background-image: url('../images/icon/a52.jpg');background-position: center -1px}
.backtop a.a6:hover{background-image: url('../images/icon/a62.jpg');background-position: center -1px}


/*  底部导航二级菜单 */
.kstdmain > ul{height: 18px;overflow: visible;}
.kstdmain ul li{position: relative}
.kstdmain ul li ul{position: absolute;left: 0px;bottom: 17px;width: 130px;background: #FFF;border-bottom: none;padding: 13px 0;display: none;}
.kstdmain ul li ul li{height: auto;width:100%;margin: 0;padding: 0;display: inline;float: none}
.kstdmain ul li ul li a{width: 100%;height: 26px;display:block;line-height: 26px;font-size: 13px;color: #616b88;text-indent: 30px}
.kstdmain ul li ul li a span{font-size: 10px;_font-size:8px;color: #616b88;display: inline;margin: 0 1px;}

/* 按钮 */
.box-btn-add{display: block;width: 38px;height: 30px;background: url('../images/btn/tianjia_12.jpg') no-repeat 0 0;position: relative}
.box-btn-add.minus{display: block;width: 38px;height: 30px;background: url('../images/btn/qxgz1.jpg') no-repeat 0 0;}
.box-btn-shop{display: block;width: 66px;height: 30px;background: url('../images/btn/goumai_38.jpg') no-repeat 0 0;}
.box-btn-chaxun{display: block;width: 66px;height: 30px;background: url('../images/btn/ssqd.jpg') no-repeat 0 0;}
.goumaibtn{display: block;width:82px;height: 30px; background: url('../images/btn/actgoumai3.png');_background: url('../images/btn/actgoumai3.gif');}
.ckbtn{display: block;width:82px;height: 30px; background: url('../images/btn/chaxun1.png');_background: url('../images/btn/chaxun1.gif');}
.shuhuiqdbtn{display: block;width:82px;height: 30px; background: url('../images/btn/ssqd3.jpg');}
.aw130red{ display: block;width:132px;height: 42px; line-height:42px; background-image: url('../images/btn/czgxb1.jpg'); font-size:18px; text-decoration:none; color:#ffffff; text-align:center;}
.aw130blue{ display: block;width:132px;height: 42px; line-height:42px; background-image: url('../images/btn/more1.jpg'); font-size:18px; text-decoration:none; color:#ffffff; text-align:center;}
.guanzhubtn{display: block;width:82px;height: 30px; background-image: url('../images/btn/gzbtn1.jpg');}
.lookmorebtn{ width:101px; height:36px; line-height:36px; text-align:center; color:#ffffff; text-decoration:none; display:block; font-size:14px; background: url('../images/btn/more5.jpg');}
.wytwbtn{width:101px; height:36px; line-height:36px; text-align:center; color:#ffffff; text-decoration:none; display:block; font-size:14px; background: url('../images/btn/wytw1.jpg');}
.loginbtn a{ display: block;width:202px;height:36px; line-height:36px; text-align:center; background: url('../images/btn/login1.jpg'); font-size:14px; color:#8e6715; text-decoration:none;}

.box-btn-add:hover{background: url('../images/btn/tianjia_14.jpg');}
.box-btn-add.minus:hover{background: url('../images/btn/qxgz2.jpg');}
.box-btn-shop:hover{background: url('../images/btn/goumai_40.jpg');}
.box-btn-chaxun:hover{background: url('../images/btn/ssqd2.jpg');}
.goumaibtn:hover{background: url('../images/btn/actgoumai4.png');_background: url('../images/btn/actgoumai4.gif');}
.ckbtn:hover{background: url('../images/btn/chaxun2.png');_background: url('../images/btn/chaxun2.gif');}
.shuhuiqdbtn:hover{background: url('../images/btn/ssqd4.jpg');}
.aw130red:hover{ background: url('../images/btn/czgxb2.jpg'); text-decoration:none; color:#ffffff;}
.aw130blue:hover{ background: url('../images/btn/more2.jpg'); text-decoration:none; color:#ffffff;}
.guanzhubtn:hover{ background: url('../images/btn/gzbtn2.jpg');}
.lookmorebtn:hover{ background: url('../images/btn/more6.jpg');}
.wytwbtn:hover{ background: url('../images/btn/wytw2.jpg');}
.loginbtn a:hover{ background: url('../images/btn/login2.jpg'); }

.box-btn-add p{display:none;width:46px;height:27px;margin:0;padding:0;position: absolute;left: -4px;bottom: 32px;background: url('../images/icon/ygz.png') no-repeat center center;_background: url('../images/icon/ygz.gif');}

.box-order-types img{display: none;}
.box-order-types{background: #FFF url('../images/icon/up2.gif') no-repeat 57px center;text-indent: 6px;text-align: left; }
.box-order-types.long{background-position: 112px center;}
.box-order-types.box-t1{background-image: url('../images/icon/up1.gif');border-color:#2a5ed7;color:#2a5ed7; }
.box-order-types.box-t3{background-image: url('../images/icon/up3.jpg');border-color:#2a5ed7;color:#2a5ed7;}


.box-jjdm{width: 50px;height:20px;float: left;display: block;}
.box-stars1,.box-stars2,.box-stars3,.box-stars4,.box-stars5{height: 8px;background: url('../images/icon/wjx.jpg') repeat-x left center;margin-top: 7px;_margin-top:2px;float: left;line-height: 5px;overflow: visible;}
.box-stars1{width: 9px;}
.box-stars2{width: 18px;}
.box-stars3{width: 27px;}
.box-stars4{width: 36px;}
.box-stars5{width: 45px;}

.box-relative{position: relative;}
.box-relative p{display: none;width: 61px;height: 27px;position: absolute;left:-20px;bottom: 17px;background: url('../images/icon/rmjj.gif') no-repeat center center;margin: 0;padding: 0;_bottom:57px;}
.box-relative p.tui{background-image: url('../images/icon/yhtj.png');_background-image: url('../images/icon/yhtj.gif');}
.box-relative p.xin{background-image: url("../images/icon/xfjj.png");_background-image: url('../images/icon/xfjj.gif');}
.box-relative p.xx{ width:80px; left:-10px; background-image: url("../images/icon/xx.png");_background-image: url('../images/icon/xx.gif');}

.hdright h1{background: url('../images/icon/rmtjicon.jpg') no-repeat 20px center;}



/* 活动页面 */
.gmbtn_hots,.hotspro_p5 a{background: url('../images/btn/actgoumai1.jpg') no-repeat center center;}
.gmbtn_hots:hover,.hotspro_p5 a:hover{background: url('../images/btn/actgoumai2.jpg') no-repeat center center;}
.hdjxz,.hdjs,.hdks{width: 102px;height: 34px;}
.hdjs{background: url('../images/btn/hdjs1.jpg') no-repeat center}
.hdjs:hover{background: url('../images/btn/hdjs2.jpg') no-repeat center}
.hdks{background: url('../images/btn/jjks1.jpg') no-repeat center}
.hdks:hover{background: url('../images/btn/jjks2.jpg') no-repeat center}
.hdjxz{background: url('../images/btn/hdjxz1.jpg') no-repeat center}
.hdjxz:hover{background-image: url('../images/btn/hdjxz2.jpg')}

