﻿/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	margin:0;
	padding:0
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block
}
body {
	line-height:1
}
ol, ul {
	list-style:none
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:none
}
table {
	border-collapse:collapse;
	border-spacing:0
}
body{ font: 12px/18px  Arial,"微软雅黑","黑体"; color:#6e6e6e; _background-image:url(about:blank); /* for IE6 */_background-attachment:fixed; /*必须*/ position:relative; background:#ffffff;}
.fr{ float:right;}
.fl{ float:left;}
.container{ width:1000px; height:auto; margin:0 auto; overflow:hidden;}
.h2.borderbotm{ border-bottom:none;}

/*-----------头部-------------*/
.topwarp{ background:url(../images/line1.jpg) repeat-x; border-bottom:1px solid #e5e5e5;} 
.topwarp ul{ height:28px; overflow:hidden; padding-top:11px;cursor: pointer;}
.topwarp ul li{ float:left; margin:0 70px;position: relative;}
.topwarp ul li img{ vertical-align:middle; margin-right:5px;}

/*-----------logo menu-------------*/
.logomenu{ width:978px; height:50px; margin:0 auto; padding:15px 0px 15px 22px; position:relative;z-index: 9;}
.logomenu h1{ width:245px; height:auto; float:left; padding-top:5px; display:inline;}
.ul1{ height:auto; float:right; overflow:hidden;}
.li1{ width:72px; height:30px; float:left;}
.li1 input{ width:70px; height:26px; }
.li2{ width:166px; height:20px; float:left; background:url(../images/dhimg.jpg) 0 0 no-repeat; margin:5px 20px 0px 20px; display:inline;}
.li3{ float:left; color:#8793b2; padding-top:8px; display:inline;}
.li3 a{ color:#8793b2; text-decoration:none;}
.li3 a.on{ color:#4a81bc; text-decoration:none;}
.menu{ width:685px; height:47px; position:absolute; right:0px; top:58px;}
.ul2{ width:485px; overflow:hidden; float:left; background:#4283c9;}
.ul2 li{ width:97px; height:47px; float:left;}
.ul2 li a{ width:97px; height:47px; line-height:47px; display:block; text-align:center; font-size:13px; color:#FFF; text-decoration:none;}
.ul2 li a:hover,.ul2 li a.on{color:#FFF; text-decoration:none; background:#2461a3;}
.loginmain{ width:135px; height:47px; line-height:47px; background:#f5d36b url(../images/icon/icon3.jpg) 20px center no-repeat; float:left; padding-left:65px; display:inline; color:#826611; font-size:13px;}
.loginmain a,.loginmain a:hover{ color:#826611; text-decoration:none;}

/*-----------基金超市-------------*/
.productmain{ background:#f7f8fc; padding:20px 0px 75px;}
.h2 a{ width:128px; height:auto; float:right; background:url(../images/icon/icon7.gif) right center no-repeat; display:block; color:#3455a2; text-decoration:none; font-size:13px;}
.funds_style{ width:1000px; height:auto; padding-bottom:28px; margin:0 auto;}
.funds_style ul{ width:1000px; height:auto; overflow:hidden;}
.funds_style ul li{ width:166px; margin-left:32px; float:left; display:inline;}
.jjlx_li1{}
.funds_style h2{ font-size:14px; color:#373737; padding:20px 0px; font-weight:normal;}
.funds_style ol{ width:141px; height:223px; padding-left:25px; background:url(../images/line3.jpg) 0 0 no-repeat;}
.funds_style ol li{ width:141px; margin-left:0px; margin-bottom:16px; position:relative;}
.funds_style .jjlx_li1 ol li{ width:141px; margin-left:0px; margin-bottom:50px; position:relative;}
.funds_style .jjlx_li2 ol li{ width:141px; margin-left:0px; margin-bottom:23px; position:relative;}
.funds_style ol li a{ display:inline-block; color:#787878; text-decoration:none; font-family:"宋体";height: 18px;}
.funds_style ol li a:hover,.funds_style ol li.on a{ color:#2a5ed7; font-weight:bold; text-decoration:none;border-bottom:1px solid #2a5ed7;height: 17px;}
.funds_style ol li a:hover i,.funds_style ol li.on i{ width:16px; height:13px; background:url(../images/line3_icon.jpg) 0 0 no-repeat; position:absolute; left:-24px; top:0px;}
.product_title{ width:936px; margin:0 auto; padding:0px 0px 10px;}
.dwjz{ width:70px; height:20px; line-height:20px; border:1px solid #8d8e8e; text-align:center; background:#FFF; margin:0 auto; cursor:pointer;}
.dwjz2{ width:126px; height:20px; line-height:20px; border:1px solid #8d8e8e; text-align:center; background:#FFF; margin:0 auto; cursor:pointer;}
.dwjz img{ margin-left:2px;}
.product_list{ width:1000px; height:auto; background:#FFF; margin-bottom:25px; padding:20px 0px 0px;}
.product_list p{ width:967px; background:url(../images/line2.jpg) 10px 0 no-repeat; font-size:16px; color:#616b88; padding-left:33px; margin-bottom:10px;}
.product_list td{ border-top:1px solid #e7e9f0; padding:10px 0px 5px; vertical-align:top;}
.product_list td span{ padding-top:5px; font-size:13px; display:block;}
.product_list td span img{ vertical-align:middle; margin-left:2px;}
.product_list a,.product_list a:hover{ color:#244f7e; text-decoration:none;}

/*-----------基金详情-------------*/
.pro_deta_title{ width:982px; line-height:30px; color:#000000; font-size:13px; padding-left:18px;}
.pro_deta_title span{ font-size:26px; color:#616b88; display:block;}
.pro_deta_title img{ margin-right:5px; vertical-align:middle;}
.productdetamain{ padding:20px 0px; background:#e8ebf3;}
.prodcut_date_info_left{ width:212px; height:auto; float:left; padding:5px 22px; display:inline; background:#FFF;}
.prodcut_date_info_left p{ padding-top:25px; color:#4a526b; padding-bottom:5px;}
.prodcut_date_info_left h2{ color:#2461a3; font-size:36px; line-height:40px;}
.prodcut_date_info_left h2 span{ font-size:20px; color:#e60012;}
.gzgmbtn{ width:212px; overflow:hidden; padding:10px 0px 20px;}
.prodcut_date_info_right{ width:725px; height:auto; float:right;}
.product_date_hd{}
.product_date_hd ul{ overflow:hidden; border-bottom:1px solid #d0d3da;}
.product_date_hd li{ width:142px; height:28px; line-height:28px; text-align:center; background:#6b94bf; color:#FFF; float:left;}
.product_date_hd li.on{ height:26px; line-height:26px; border-top:2px solid #244f7e; background:#FFF; color:#244f7e;}
.product_date_bd{}
.slideBox{}
.product_date_tab{ padding-top:10px;}
.jzzst{ width:147px; height:24px; line-height:24px; position:relative;}
.jzzst p{ width:140px; height:24px; line-height:24px; background:url(../images/select.jpg) 0 0 no-repeat; cursor:pointer; padding-left:7px;}
.jzzst p span{ height:24px; line-height:24px; display: block;table-layout: fixed; word-wrap: break-word;word-break: break-all;overflow: hidden;}
.jzzst ul{ width:147px; height:90px; position:absolute; left:0px; top:24px; border:1px solid #e6e6e6;display:none;overflow:auto;background:#ffffff;}
.jzzst li a{height:24px;line-height:24px;padding-left:4px;display:block;color:#666;text-decoration:none;overflow:hidden;}
.jzzst li a:hover{color:#DB0606;text-decoration:none;background:#e6e6e6;}
.date{ width:100px; height:24px; line-height:24px; background:url(../images/date.jpg) 0 0 no-repeat; border:none; padding-left:6px; cursor:pointer;}
.product_data_title{ width:1000px; height:auto; margin:0 auto;}
.product_data_title ul{ overflow:hidden;}
.product_data_title ul li{ width:166px; height:42px; float:left; background:url(../images/line4.jpg) right center no-repeat;}
.product_data_title ul li a{ height:41px; line-height:41px; color:#4a5867; font-size:13px; text-decoration:none; border-bottom:1px solid #ffffff; display:block; text-align:center;}
.product_data_title ul li a:hover{ color:#155daa; text-decoration:none; border-bottom:1px solid #155daa;}
.h2_product_deta{ background:url(../images/line5.jpg) 0 center no-repeat; color:#616b88; font-size:22px; line-height:24px; padding-left:18px; font-weight:normal; margin:10px 0px;}
.manager{ width:964px; background:#FFF; padding:20px 18px;}



/*-----------活动专区-------------*/
.hdmain{ background:#f7f8fc; padding:42px 0px  120px 0px;}
.hdleft{ width:648px; height:auto; float:left;}
.h2{ border-bottom:1px solid #dedfe2; background:url(../images/line2.jpg) 18px 4px no-repeat; font-size:26px; line-height:30px; color:#616b88; padding-left:56px; padding-bottom:15px;}
.mtb18{ margin:18px 0px;}
.hdleft_cont{ width:648px; position:relative;}
.hdlist{ width:618px; height:auto; margin-left:12px; border-left:1px solid #dedfe2;}
.hdcont{ width:596px; height:auto; padding-left:22px; padding-top:28px; position:relative;}
.time{ height:20px; line-height:20px; font-size:21px; color:#aeb8d7; padding-bottom:8px;}
.time span{ color:#4995eb;}
.hdcont dl{ width:100%; height:282px; background:#FFF; overflow:hidden;}
.hdcont dl dt{ width:282px; height:282px; float:left; position:relative;}
.icon1{ width:6px; height:12px; background:url(../images/icon/icon4.png) 0 0 no-repeat;_background-image:url(../images/icon/icon4.gif); position:absolute; top:30px; right:0px;}
.hdcont dl dd{ width:254px; height:282px; float:left; padding:0px 30px; display:inline;}
.hdcont dl h2{ font-size:18px; color:#4562a8; line-height:24px; padding-top:26px;}
.hdcont dl p{ height:90px; font-size:13px; color:#5c5c5c; padding:15px 0px 40px; overflow:hidden;}
.hdks,.hdjs{ width:102px; height:34px; line-height:34px; text-align:center; color:#ffffff; text-decoration:none; -moz-border-radius:2px; -webkitborder-radius:2px; border-radius:2px; display:block; font-size:16px;}
.hdks{ background:#e98f6b;}
.hdjs{ background:#a0a0a0;}
.dotks,.dotjs{ width:8px; height:6px; background:url(../images/icon/iconsprite.png) 0 0 no-repeat;_background:url(../images/icon/dot1.png) 0 0 no-repeat; position:absolute; left:8px;}
.dotks{ top:0px;}
.dotjs{ bottom:0px;}
.dot{ width:8px; height:8px; background:url(../images/icon/iconsprite.png) 0 -7px no-repeat; _background:url(../images/icon/dot2.png) 0 0 no-repeat; position:absolute; left:-4px; top:28px;}
.morehd{ height:18px; margin:20px 0px 0px; text-align:center; cursor:pointer; background:url(../images/icon/iconsprite.png) 284px -16px no-repeat;_background-image:url(../images/icon/iconsprite.gif)}
.hdright{ width:314px; float:right; background:#ffffff; padding-top:20px; display:inline;}
.hdright h1{font-size:22px; line-height:26px; color:#616b88; font-weight:normal; padding-left:60px; margin-bottom:20px; background:url(../images/icon/iconsprite.png) 20px -36px no-repeat; _background-image:url(../images/icon/iconsprite.gif)}
.funds_hots{ width:274px; height:auto; padding:0px 20px 40px; border-top:1px solid #dedfe2; position:relative;}
.funds_hots h2{ font-size:18px; line-height:20px; color:#4562a8; padding:22px 0px 12px; }
.funds_hots h2 a,.funds_hots h2 a:hover{ color:#4562a8; text-decoration:none;}
.funds_hots p{ color:#5c5c5c; font-size:13px; line-height:22px;}
.funds_hots p span{ color:#c9b15d;}
.gmbtn_hots{ width:82px; height:36px; background:url(../images/btnsprite.png) 0 0 no-repeat; display:block; text-indent:-9999px; position:absolute; bottom:22px; right:20px;}

/*-----------快速通道-------------*/
.kstdmain{ border-top:1px solid #dedfe2; padding:14px 0px;}
.kstdmain ul{ width:1000px; height:auto; margin:0 auto; overflow:hidden;}
.kstdmain ul li{ height:18px; float:left; margin:0px 40px; padding-left:30px; display:inline; color:#616b88; font-size:14px;}
.kstdmain ul li.li4{ background:url(../images/icon/iconsprite.png) 0 -62px no-repeat;_background-image:url(../images/icon/iconsprite.gif);}
.kstdmain ul li.li5{margin-left: 90px; background:url(../images/icon/iconsprite.png) 0 -80px no-repeat;_background-image:url(../images/icon/iconsprite.gif);}
.kstdmain ul li.li6{margin-left: 120px; background:url(../images/icon/iconsprite.png) 0 -97px no-repeat;_background-image:url(../images/icon/iconsprite.gif);}
.kstdmain ul li.li7{margin-left: 120px; background:url(../images/icon/iconsprite.png) 0 -113px no-repeat;_background-image:url(../images/icon/iconsprite.gif);}
.kstdmain ul li a,.kstdmain ul li a:hover{color:#616b88; text-decoration:none;}
.kstdmain ul li img{ margin-left:5px;}
.footmain{ background:#f7f8fc; border-top:1px solid #dedfe2; padding:20px 0px 10px; }
.footmain p{ width:1000px; height:auto; margin:0 auto; text-align:center; color:#8793b2; line-height:22px;}
.footmain p a{ color:#8793b2; text-decoration:underline; margin:0px 38px; display:inline-block;}
.footmain p a:hover{ color:#8793b2; text-decoration:underline;}


.backtop{ width:40px; height:170px; background:url(../images/backtop.gif) 0 0 no-repeat; position:fixed; right:50%; margin-right:-560px; bottom:50px; z-index:9999; cursor:pointer; display:none;}
.backtop a{ width:40px; height:auto; display:block;}
.backtop a.a1,.backtop a.a3{ height:31px;}
.backtop a.a2,.backtop a.a4{ height:27px;}
.backtop a.a5{ height:29px;}
.backtop a.a6{ height:26px;}
*html .backtop{position:absolute;}


/*2014-09-03  add*/

/*二维码提示*/
.topwarp .wechatHome{display:none; width: 100%; position: relative; height: 260px; background: url("../images/box/wechathomeBg.jpg") 0 0 repeat-x; }
.topwarp .wechatHome .inner{width: 1040px; height: 260px; margin: 0 auto; position: relative;}
.topwarp .wechatHome .close{ position: absolute; top: 0; right: 0; z-index: 9; display: block; padding: 10px 30px 10px 10px; color: #999999; text-decoration: none; background:url("../images/box/icon_close.jpg") 40px center no-repeat; font-size: 12px;line-height: 15px; }

/*搜索*/
.logomenu .li1{padding:0px 28px 0px 5px; position: relative; border-radius: 5px;border:1px solid #b9c5d3; -webkit-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;  width: 48px; }
.logomenu .li1 .search{width: 100%; display: block;background: none;  border: none; line-height: 26px; border-radius: 0; outline: none;}
.logomenu .li1 span{width: 28px; height: 30px;display: block; position: absolute; right: 0px; top: 0px; background: url("../images/icon/search.jpg") center no-repeat; z-index: 9;}


/*基金超市*/
.marketMoney{display: none; width: 100%;height: 334px;background:#fff; position: relative; overflow: hidden;border-top:solid #2461a3 5px; border-bottom: solid 1px #edf6fd;}
.marketMoney .marketSubMenu{width: 120px; background: #edf6fd; float: left; padding-top:40px; height: 294px;}
.marketMoney .marketSubMenu ul{width: 100%; overflow: hidden;}
.marketMoney .marketSubMenu ul .submenu{width: 100%; height:30px; }
.marketMoney .marketSubMenu ul .active{background: #ffffff;}
.marketMoney .marketSubMenu ul .submenu a{display: block; font-weight: bold; text-align: center; font-size: 12px; width: 100%; height: 30px; text-decoration: none;color:#373737;line-height: 30px; }
.marketMoney .marketSubMenu ul .active a{color: #3f86d6;background: url("../images/box/icon_arrow.png") 85px center no-repeat;_background-image: url("../images/box/icon_arrow.gif");}
.marketMoney .shouyilvCon{width: 150px; height: 334px; float: right;}
.marketMoney .shouyilvCon .pro{width: 100%; height: 76px;background: #edf6fd; padding-top: 90px;}
.marketMoney .shouyilvCon .pro p{width: 98px; margin: 0 auto;  font-size: 12px;color:#535353;line-height: 15px;}
.marketMoney .shouyilvCon .pro p .shouyi,
.marketMoney .shouyilvCon .pro p .beishu{color: #e60012; font-weight: bold; }
.marketMoney .shouyilvCon .fubaoCon{ margin-bottom: 2px; background: url("../images/box/icon_fubao.png") center 30px no-repeat #edf6fd;_background-image:url('../images/box/icon_fubao.gif');}
.marketMoney .shouyilvCon .huabaotianyi{height: 66px;background: #edf6fd; padding-top: 100px; background: url("../images/box/icon_huabaotianyi.png") center 12px no-repeat #edf6fd;_background-image:url('../images/box/icon_huabaotianyi.gif');}
.marketMoney .marketDetail{width: 415px; height: 334px; overflow: hidden; float: left;}
.marketMoney .marketDetail .list{display: none;}
.marketMoney .list{width: 100%; overflow: hidden;}
.marketMoney .list li{width: 100%; height: 30px;}
.marketMoney .list li span{display: block;height: 30px; color:#989898; font-weight: bold; float: left; line-height: 30px; text-align: center;}
.marketMoney .list li .name{width: 125px; text-indent: 15px; text-align: left; }
.marketMoney .list li .value{width: 85px;}
.marketMoney .list li .total{width: 85px;}
.marketMoney .list li .zhangfu{width: 100px;}
.marketMoney .list li .red{color:#e60012;}
.marketMoney .list li .green{color:#4ebd60;}
.marketMoney .list .header{ font-weight: bold;height: 40px;}
.marketMoney .list .header span{line-height:40px; height: 40px; color: #373737;}
.loginmain{position: relative; z-index: 9;}
.loginmain .loginCon{display:none; width: 200px; height: 190px;background: #fae394; position: absolute; top: 47px;left: 0; z-index: 9;}
.loginmain .loginCon .item{width: 170px;background:#ffffff; margin: 18px auto 0 auto; height: 30px; border: 1px solid #c8b676; border-radius: 5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px;}
.loginmain .loginCon .item em{display: block; float: left; width: 25px; height: 14px;margin-top:8px; border-right: solid 1px #cccccc; }
.loginmain .loginCon .username em{background: url("../images/box/icon_user.png") center no-repeat; _background-image: url("../images/box/icon_user.gif");}
.loginmain .loginCon .password em{background: url("../images/box/icon_pasd.png") center no-repeat; _background-image: url("../images/box/icon_pasd.gif");}
.loginmain .loginCon input{background: none;  margin:0px 5px; float: left; width: 130px; height: 30px; line-height: 30px; outline: none;  -webkit-appearance: none; border: none; }
.loginmain .loginCon .loginBtnForServer{width: 170px;  margin: 18px auto 0 auto; background: url("../images/box/icon_loginBtnBg.png") 0 0 repeat-x; height: 32px; line-height: 30px; border-radius: 5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px;}
.loginmain .loginCon .loginBtnForServer a{width: 100%; height: 30px; line-height: 30px; text-align: center; display: block; color: #ffffff; font-size: 14px;font-weight: bold;}
.loginmain .loginCon .forgotPasd{color: #898989; display: block; text-align: center;line-height: 20px;}
.loginmain .loginCon .n{color:#d2d2d2;}
.loginmain .loginCon .password .tips{left:46px; width: 144px; position: absolute;  height: 30px; line-height: 30px;color:#d2d2d2; display: block; position: absolute;z-index: 9; }
.loginmain .loginCon .password .pasd{position: relative;z-index: 9; }

/*可以拖动进度*/
.funds_style ul li{position: relative;}
.processBar{width: 16px; height: 223px; position: absolute; left: 0; top: 58px; }
.processBar .bar{display: block; position: absolute; top: 2px; left: 0; z-index: 8; width: 16px; height: 13px; background: url("../images/line3_icon.jpg") center center no-repeat; }

* { -webkit-user-drag: none; -moz-user-drag: none;user-drag: none;-ms-user-drag: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}

.productmain .tip{width: 100%; font-size: 12px; color: #737373;}
.productmain .tip p{width: 100%; text-indent: 40px;}

/*.hdmain .tip{width: 100%; font-size: 12px; color: #737373; clear: both;padding-top: 10px;}
.hdmain .tip p{width: 100%; text-indent: 40px;}*/

.hdjxz{background: #f4984d;}


