﻿/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	margin:0;
	padding:0
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block
}
body {
	line-height:1;
}
ol, ul {
	list-style:none
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:none
}
table {
	border-collapse:collapse;
	border-spacing:0
}
body{ font: 12px/18px  Arial,"微软雅黑","黑体"; color:#6e6e6e; _background-image:url(about:blank); /* for IE6 */_background-attachment:fixed; /*必须*/ background:#ffffff;}
.fr{ float:right;}
.fl{ float:left;}
.container{ width:1000px; height:auto; margin:0 auto; overflow:hidden;}
.h2.borderbotm{ border-bottom:none;}

/*-----------头部-------------*/
.topwarp{ background:url(../images/line1.jpg) repeat-x; border-bottom:1px solid #e5e5e5;} 
.topwarp ul{ height:28px; overflow:hidden; padding-top:11px;cursor: pointer;}
.topwarp ul li{ float:left; margin:0 70px;position: relative;}
.topwarp ul li img{ vertical-align:middle; margin-right:5px;}

/*-----------logo menu-------------*/
.logomenu{ width:978px; height:50px; margin:0 auto; padding:15px 0px 15px 22px; position:relative;z-index: 9;}
.logomenu h1{ width:245px; height:auto; float:left; padding-top:5px; display:inline;}
.ul1{ height:auto; float:right; overflow:hidden;}
.li1{ width:72px; height:30px; float:left;}
.li1 input{ width:70px; height:26px; }
.li2{ width:166px; height:20px; float:left; background:url(../images/dhimg.jpg) 0 0 no-repeat; margin:5px 20px 0px 20px; display:inline;}
.li3{ float:left; color:#8793b2; padding-top:8px; display:inline;}
.li3 a{ color:#8793b2; text-decoration:none;}
.li3 a.on{ color:#4a81bc; text-decoration:none;}
.menu{ width:685px; height:47px; position:absolute; right:0px; top:58px;}
.ul2{ width:485px; overflow:hidden; float:left; background:#4283c9;}
.ul2 li{ width:97px; height:47px; float:left;}
.ul2 li a{ width:97px; height:47px; line-height:47px; display:block; text-align:center; font-size:13px; color:#FFF; text-decoration:none;}
.ul2 li a:hover,.ul2 li a.on{color:#FFF; text-decoration:none; background:#2461a3;}
.loginmain{ width:135px; height:47px; line-height:47px; background:#f5d36b url(../images/icon/icon3.jpg) 20px center no-repeat; float:left; padding-left:65px; display:inline; color:#826611; font-size:13px;}
.loginmain a,.loginmain a:hover{ color:#826611; text-decoration:none;}

/*-----------基金超市-------------*/
.productmain{ background:#f7f8fc; padding:20px 0px 75px;}
.h2 a{ width:128px; height:auto; float:right; background:url(../images/icon/icon7.gif) right center no-repeat; display:block; color:#3455a2; text-decoration:none; font-size:13px;}
.funds_style{ width:1000px; height:auto; padding-bottom:28px; margin:0 auto;}
.funds_style ul{ width:1000px; height:auto; overflow:hidden;}
.funds_style ul li{ width:166px; margin-left:32px; float:left; display:inline;}
.jjlx_li1{}
.funds_style h2{ font-size:14px; color:#373737; padding:20px 0px; font-weight:normal;}
.funds_style ol{ width:141px; height:223px; padding-left:25px; background:url(../images/line3.jpg) 0 0 no-repeat;}
.funds_style ol li{ width:141px; margin-left:0px; margin-bottom:16px; position:relative;}
.funds_style .jjlx_li1 ol li{ width:141px; margin-left:0px; margin-bottom:50px; position:relative;}
.funds_style .jjlx_li2 ol li{ width:141px; margin-left:0px; margin-bottom:23px; position:relative;}
.funds_style ol li a{ display:inline-block; color:#787878; text-decoration:none; font-family:"宋体";height: 18px;}
.funds_style ol li a:hover,.funds_style ol li.on a{ color:#2a5ed7; font-weight:bold; text-decoration:none;border-bottom:1px solid #2a5ed7;height: 17px;}
.funds_style ol li a:hover i,.funds_style ol li.on i{ width:16px; height:13px; background:url(../images/line3_icon.jpg) 0 0 no-repeat; position:absolute; left:-24px; top:0px;}
.product_title{ width:936px; margin:0 auto; padding:0px 0px 10px;}
.dwjz{ width:70px; height:20px; line-height:20px; border:1px solid #8d8e8e; text-align:center; background:#FFF; margin:0 auto; cursor:pointer;}
.dwjz2{ width:126px; height:20px; line-height:20px; border:1px solid #8d8e8e; text-align:center; background:#FFF; margin:0 auto; cursor:pointer;}
.dwjz img{ margin-left:2px;}
.product_list{ width:1000px; height:auto; background:#FFF; margin-bottom:25px; padding:20px 0px 0px;}
.product_list p{ width:967px; background:url(../images/line2.jpg) 10px 0 no-repeat; font-size:16px; color:#616b88; padding-left:33px; margin-bottom:10px;}
.product_list td{ border-top:1px solid #e7e9f0; padding:10px 0px 5px; vertical-align:top;}
.product_list td span{ padding-top:5px; font-size:13px; display:block;}
.product_list td span img{ vertical-align:middle; margin-left:2px;}
.product_list a,.product_list a:hover{ color:#244f7e; text-decoration:none;}

/*-----------基金详情-------------*/
.pro_deta_title{ width:982px; line-height:30px; color:#000000; font-size:13px; padding-left:18px;}
.pro_deta_title span{ font-size:26px; color:#616b88; display:block;}
.pro_deta_title img{ margin:0px 3px; vertical-align:middle;}
.pro_deta_title em{ color:#ebb718; font-style:normal; padding-left:5px;}
.productdetamain{ padding:20px 0px; background:#e8ebf3;}
.prodcut_date_info_left{ width:212px; height:auto; float:left; padding:5px 22px; display:inline; background:#FFF;}
.prodcut_date_info_left p{ padding-top:25px; color:#4a526b; padding-bottom:5px;}
.prodcut_date_info_left h2{ color:#2461a3; font-size:36px; line-height:40px;}
.prodcut_date_info_left h2 span{ font-size:20px; color:#e60012;}
.gzgmbtn{ width:212px; overflow:hidden; padding:10px 0px 20px;}
.prodcut_date_info_right{ width:725px; height:auto; float:right;}
.product_date_hd{}
.product_date_hd ul{ width:715px; overflow:hidden; border-bottom:1px solid #d0d3da;}
.product_date_hd li{ width:142px; height:28px; line-height:28px; text-align:center; background:#6b94bf; color:#FFF; float:left; cursor:pointer;}
.product_date_hd li.on{ height:26px; line-height:26px; border-top:2px solid #244f7e; background:#FFF; color:#244f7e;}
.product_date_bd{}
.slideBox{ position:relative;}
.xzyear{ position:absolute; top:-20px; right:0px;}
.xzyear ul{ overflow:hidden;}
.xzyear ul li{ float:left; padding-left:5px; color:#787878; margin-left:5px; display:inline; cursor:pointer;}
.xzyear ul li.xzyearon1{ background:url(../images/line7.jpg) 0 center no-repeat;}
.product_date_tab{ padding-top:10px; _padding-top:8px;}
.product_date_tab td{ vertical-align:middle;}
.jzzst{ width:147px; height:24px; line-height:24px; cursor:pointer;}
.jzzst .yearselect p{ width:137px;height:24px;line-height:24px;background: url(../images/select.jpg) no-repeat scroll right center transparent;padding: 0px 5px;font-size:12px;color: #373737;}
.jzzst .yearselect ul{ width:145px; left:0px;}
.jzzst .yearselect ul li a{width:145px; padding:0px; text-align:center;}
.jzzst .yearselect ul li a:hover{color:#DB0606;text-decoration:none;}
.date{ width:100px; height:24px; line-height:24px; background:url(../images/date.jpg) 0 0 no-repeat; border:none; padding-left:6px; cursor:pointer;}
.product_data_title{ width:100%; height:42px;}
.product_data_title ul{ width:1000px; height:42px; overflow:hidden; background:#ffffff;}
.product_data_title ul li{ width:166px; height:42px; float:left; background:url(../images/line4.jpg) right center no-repeat;}
.product_data_title ul li a{ height:41px; line-height:41px; color:#4a5867; font-size:13px; text-decoration:none; border-bottom:1px solid #ffffff; display:block; text-align:center;}
.product_data_title ul li a:hover,.product_data_title ul li a.on{ color:#155daa; text-decoration:none; border-bottom:1px solid #155daa;}
.h2_product_deta{ background:url(../images/line5.jpg) 0 center no-repeat; color:#616b88; font-size:22px; line-height:24px; padding-left:18px; font-weight:normal; margin:10px 0px;}
.manager{ width:964px; background:#FFF; padding:20px 18px; margin-bottom:50px;}
.manager_block{ width:100%; height:auto; overflow:hidden;}
.manager_img{ width:92px; height:auto; float:left; margin:0px 21px; display:inline;}
.manager_img img{ border:1px solid #b2b2b2;}
.manager_block dl{ width:830px; height:auto; float:right;}
.manager_block dl dt{ width:470px; height:auto; float:left;}
.manager_block dl h2{ font-weight:normal; font-size:13px; line-height:20px; color:#244f7e; padding-bottom:6px; border-bottom:1px solid #e5e5e5; margin-bottom:10px;}
.manager_block dl h2 span{ font-size:18px;}
.manager_block dl dt p{ line-height:28px; color:#373737;}
.manager_block dl dt p span{ color:#565656; text-decoration:underline; padding:0px 2px;}
.manager_block dl dd{ width:320px; height:auto; float:right;}
.manager_block dl dd p{color:#373737; line-height:22px; padding-bottom:5px; margin-bottom:5px;}
.manager_block dl dd p span{ color:#868585; display:block;}
.manager_block dl dd p em{ font-style:normal; color:#a40000;}
.manager_more1,.helperup1,.manager_more2,.helperup2,.manager_more2,.helperup2{ color:#8793b2; padding:0px 0px 14px; overflow:hidden; text-align:center;}
.manager_more1 a,.manager_more2 a,.manager_more3 a{ width:42px; background:url(../images/icon/iconsprite.png) 0 -152px no-repeat; color:#8793b2; text-decoration:none; display:block; margin:0 auto; text-align:right;}
.helperup1 a,.helperup2 a,.helperup3 a{ width:42px; background:url(../images/icon/iconsprite.png) 0 -172px no-repeat; color:#8793b2; text-decoration:none; display:block; margin:0 auto; text-align:right;}
.manager_more1 a:hover,.helperup1 a:hover,.manager_more2 a:hover,.helperup2 a:hover,.manager_more3 a:hover,.helperup3 a:hover{color:#8793b2; text-decoration:none;}
.zcpz_tab{ padding-bottom:30px;}
.zcpz_tab td{ vertical-align:middle;}
.zcpz_1{ width:68px; height:24px; line-height:24px; background:url(../images/year.jpg) 0 0 no-repeat; color:#616b88;}
.zcpz_1 .yearselect p{ width:45px; height:24px; line-height:24px; text-align:center;  background:none; color:#616B88; padding:0px 0px;}
.zcpz_1 .yearselect ul{ width:66px; left:0px;}
.zcpz_1 .yearselect ul li a{ width:66px; padding:0px; text-align:center;}
.zcpz_2{ width:54px; height:24px; line-height:24px; background:url(../images/mouth.jpg) 0 0 no-repeat; color:#616b88;}
.zcpz_2 .yearselect p{ width:31px; height:24px; line-height:24px; text-align:center; background:none; color:#616B88; padding:0px 0px;}
.zcpz_2 .yearselect ul{ width:52px; left:0px;}
.zcpz_2 .yearselect ul li a{ width:52px; padding:0px; text-align:center;}
.manager h3{ font-size:18px; color:#acb6d5; font-weight:normal;}
.manager h3 span{ color:#244f7e;}
.hy_zq_hd{}
.hy_zq_hd ul{ overflow:hidden;}
.hy_zq_hd ul li{ float:left; display:inline; height:21px; line-height:21px; font-size:18px; color:#acb6d5; font-weight:normal; cursor:pointer;}
.hy_zq_hd ul li.on{color:#244f7e;}

.zcpz1{ width:100%; overflow:hidden; padding:20px 0px 60px;}
.zcpz1_li1{ width:234px; float:left; margin:0px 36px 0px 20px; display:inline;}
.zcpz1_li2{ width:337px; height:auto; float:left; background:url(../images/zcpz3.jpg) 0 0 no-repeat; margin-top:72px; padding-left:18px; display:inline;}
.zcpz1 p{ height:18px; margin-bottom:8px; color:#8793b2;}
.zcpz1_li3{ width:300px; height:auto; float:left; background:url(../images/zcpz3.jpg) 0 0 no-repeat; margin-top:72px; padding-left:18px; display:inline;}
.zcpz1_li4{ width:337px; height:auto; float:left; background:url(../images/zcpz4.jpg) 0 0 no-repeat; margin-top:12px; padding-left:18px; display:inline;}
.zcpz1_li5{ width:300px; height:auto; float:left; background:url(../images/zcpz5.jpg) 0 0 no-repeat; margin-top:12px; padding-left:18px; display:inline;}
.jztime{ text-align:right; background:url(../images/icon/iconsprite.png) 770px -192px no-repeat;}
.zcpz2{ width:100%; overflow:hidden; padding:20px 0px;}
.zcpz2 li{ width:400px; height:auto;}
.zcpz2 p{ width:410px; background:url(../images/icon/dot3.jpg) 0 center no-repeat; color:#373737; padding-left:8px; margin-bottom:12px;}
.zcpz2 p a,.zcpz2 p a:hover{ color:#373737; text-decoration:none;}
.zcpz2 p img{ margin-left:5px;}
.fhjltab{}
.fhjltab th{ font-size:18px; color:#244f7e; line-height:20px; border-bottom:1px solid #e5e5e5; padding-bottom:12px; font-weight:normal; vertical-align:middle;}
.fhjltab td{ color:#373737; line-height:20px; border-bottom:1px solid #e5e5e5; padding:12px 0px; vertical-align:middle;}
.scpl_ul{ width:100%; overflow:hidden;}
.scpl_ul_li1{ width:603px; height:auto; float:left;}
.scpl_ul h2{ font-size:18px; color:#244f7e; line-height:20px; border-bottom:1px solid #e5e5e5; overflow:hidden; padding-bottom:10px; margin-bottom:15px; position:relative;}
.scpl_ul h2 span{ font-size:12px; color:#8793b2; position:absolute; top:6px; right:0px;}
.scpl_ul_li1 p{ text-indent:2em; line-height:24px; color:#373737;}
.scpl_ul_li2{ width:322px; height:auto; float:right;}
.scpl_ul_li2 h2 a{ width:72px; height:18px; font-size:12px; color:#244f7e; text-decoration:none; display:block; position:absolute; top:6px; right:0px; background:url(../images/icon/icon8.png) right center no-repeat;}
.scpl_ul_li2 h2 a:hover{color:#244f7e; text-decoration:none;}
.scpl_ul_li2 p{ border-bottom:1px solid #e5e5e5; padding-bottom:5px; margin-bottom:8px;}
.scpl_ul_li2 p a{ color:#373737; text-decoration:none; display:block; line-height:24px;}
.scpl_ul_li2 p a:hover{ color:#373737; text-decoration:none;}
.scpl_ul_li2 p span{ display:block; text-align:right; color:#868585; line-height:22px;}
.morecont{ width:100%; overflow:hidden; border-bottom:1px solid #e5e5e5;}
.morecont li{ width:320px; height:auto; float:left; border-right:1px solid #e5e5e5;}
.morecont_icon1,.morecont_icon2,.morecont_icon3,.morecont_icon4,.morecont_icon5,.morecont_icon6{ background:url(../images/icon/icon8.jpg) 0 0 no-repeat; margin:0 auto;}
.morecont_icon1{ width:46px; height:50px; background-position:0px 0px;}
.morecont_icon2{ width:51px; height:50px; background-position:-51px 0px;}
.morecont_icon3{ width:43px; height:50px; background-position:-107px 0px;}
.morecont_icon4{ width:46px; height:47px; background-position:0px -58px; margin:30px auto 0px;}
.morecont_icon5{ width:51px; height:47px; background-position:-51px -58px; margin:30px auto 0px;}
.morecont_icon6{ width:43px; height:47px; background-position:-107px -58px; margin:30px auto 0px;}
.morecont_icon1 a{ width:46px; height:50px; display:block;}
.morecont_icon2 a{ width:51px; height:50px; display:block;}
.morecont_icon3 a{ width:43px; height:50px; display:block;}
.morecont_icon4 a{ width:46px; height:47px; display:block;}
.morecont_icon5 a{ width:51px; height:47px; display:block;}
.morecont_icon6 a{ width:43px; height:47px; display:block;}
.morecont li p{ padding:18px 0px 20px; text-align:center; font-size:16px;}
.morecont_p1 a,.morecont_p1 a:hover{ color:#dbbb4e; text-decoration:none;}
.morecont_p2 a,.morecont_p2 a:hover{ color:#cc7b80; text-decoration:none;}
.morecont_p3 a,.morecont_p3 a:hover{ color:#dfa474; text-decoration:none;}
.morecont_p4 a,.morecont_p4 a:hover{ color:#78a6c8; text-decoration:none;}
.morecont_p5 a,.morecont_p5 a:hover{ color:#7187ba; text-decoration:none;}
.morecont_p6 a,.morecont_p6 a:hover{ color:#55abad; text-decoration:none;}
.cjwtmain{}
.cjwtmain_tit{ width:937px; padding-left:27px; font-size:18px; color:#244f7e; line-height:20px; border-bottom:1px solid #e5e5e5; padding-bottom:10px; margin-bottom:10px; position:relative; cursor:pointer;}
.cjwtmain_tit em{ width:16px; height:17px; background:url(../images/icon/fqa_icon3.jpg) 0 0px no-repeat; position:absolute; left:0px; top:2px;}
.cjwtmain_tit.on em{background:url(../images/icon/fqa_icon4.jpg) 0 0px no-repeat;}
.cjwtmain_tit span{ position:absolute; right:0px; top:5px; font-size:12px; color:#787878; display:block;}
.cjwtmain_cont{ width:924px; padding:0px 13px 20px 27px; display:none;}
.cjwtmain_cont p{ color:#373737; line-height:24px;}
.cjwtmain_btn{ width:280px; height:auto; margin:0 auto; overflow:hidden; padding:20px 0px;}


/*-----------活动专区-------------*/
.hdmain{ background:#f7f8fc; padding:42px 0px  120px 0px;}
.hdleft{ width:648px; height:auto; float:left;}
.h2{ border-bottom:1px solid #dedfe2; background:url(../images/line2.jpg) 18px 4px no-repeat; font-size:26px; line-height:30px; color:#616b88; padding-left:56px; padding-bottom:15px;}
.mtb18{ margin:18px 0px;}
.hdleft_cont{ width:648px; position:relative;}
.hdlist{ width:618px; height:auto; margin-left:12px; border-left:1px solid #dedfe2;}
.hdcont{ width:596px; height:auto; padding-left:22px; padding-top:28px; position:relative;}
.time{ height:20px; line-height:20px; font-size:21px; color:#aeb8d7; padding-bottom:8px;}
.time span{ color:#4995eb;}
.hdcont dl{ width:100%; height:282px; background:#FFF; overflow:hidden;}
.hdcont dl dt{ width:282px; height:282px; float:left; position:relative;}
.icon1{ width:6px; height:12px; background:url(../images/icon/icon4.png) 0 0 no-repeat;_background-image:url(../images/icon/icon4.gif); position:absolute; top:30px; right:0px;}
.hdcont dl dd{ width:254px; height:282px; float:left; padding:0px 30px; display:inline;}
.hdcont dl h2{ font-size:18px; color:#4562a8; line-height:24px; padding-top:26px;}
.hdcont dl p{ height:90px; font-size:13px; color:#5c5c5c; padding:15px 0px 40px; overflow:hidden;}
.hdks,.hdjs{ width:102px; height:34px; line-height:34px; text-align:center; color:#ffffff; text-decoration:none; -moz-border-radius:2px; -webkitborder-radius:2px; border-radius:2px; display:block; font-size:16px;}
.hdks{ background:#e98f6b;}
.hdjs{ background:#a0a0a0;}
.dotks,.dotjs{ width:8px; height:6px; background:url(../images/icon/iconsprite.png) 0 0 no-repeat;_background:url(../images/icon/dot1.png) 0 0 no-repeat; position:absolute; left:8px;}
.dotks{ top:0px;}
.dotjs{ bottom:0px;}
.dot{ width:8px; height:8px; background:url(../images/icon/iconsprite.png) 0 -7px no-repeat; _background:url(../images/icon/dot2.png) 0 0 no-repeat; position:absolute; left:-4px; top:28px;}
.morehd{ height:18px; margin:20px 0px 0px; text-align:center; cursor:pointer; background:url(../images/icon/iconsprite.png) 284px -16px no-repeat;_background-image:url(../images/icon/iconsprite.gif)}
.hdright{ width:314px; float:right; background:#ffffff; padding-top:20px; display:inline;}
.hdright h1{font-size:22px; line-height:26px; color:#616b88; font-weight:normal; padding-left:60px; margin-bottom:20px; background:url(../images/icon/iconsprite.png) 20px -36px no-repeat; _background-image:url(../images/icon/iconsprite.gif)}
.funds_hots{ width:274px; height:auto; padding:0px 20px 40px; border-top:1px solid #dedfe2; position:relative;}
.funds_hots h2{ font-size:18px; line-height:20px; color:#4562a8; padding:22px 0px 12px; }
.funds_hots h2 a,.funds_hots h2 a:hover{ color:#4562a8; text-decoration:none;}
.funds_hots p{ color:#5c5c5c; font-size:13px; line-height:22px;}
.funds_hots p span{ color:#c9b15d;}
.funds_hots p img{ margin-left:5px;}
.gmbtn_hots{ width:82px; height:36px; background:url(../images/btnsprite.png) 0 0 no-repeat; display:block; text-indent:-9999px; position:absolute; bottom:22px; right:20px;}

/*-----------快速通道-------------*/
.kstdmain{ border-top:1px solid #dedfe2; padding:14px 0px;}
.kstdmain ul{ width:1000px; height:auto; margin:0 auto; overflow:hidden;}
.kstdmain ul li{ height:18px; float:left; margin:0px 40px; padding-left:30px; display:inline; color:#616b88; font-size:14px;}
.kstdmain ul li.li4{ background:url(../images/icon/iconsprite.png) 0 -62px no-repeat;}
.kstdmain ul li.li5{margin-left: 90px; background:url(../images/icon/iconsprite.png) 0 -80px no-repeat;}
.kstdmain ul li.li6{margin-left: 120px; background:url(../images/icon/iconsprite.png) 0 -97px no-repeat;}
.kstdmain ul li.li7{margin-left: 120px; background:url(../images/icon/iconsprite.png) 0 -113px no-repeat;}
.kstdmain ul li a,.kstdmain ul li a:hover{color:#616b88; text-decoration:none;}
.kstdmain ul li img{ margin-left:5px;}
.footmain{ background:#f7f8fc; border-top:1px solid #dedfe2; padding:20px 0px 10px; }
.footmain p{ width:1000px; height:auto; margin:0 auto; text-align:center; color:#8793b2; line-height:22px;}
.footmain p a{ color:#8793b2; text-decoration:underline; margin:0px 38px; display:inline-block;}
.footmain p a:hover{ color:#8793b2; text-decoration:underline;}


.backtop{ width:40px; height:170px; background:url(../images/backtop.gif) 0 0 no-repeat; position:fixed; right:50%; margin-right:-560px; bottom:50px; z-index:9999; cursor:pointer; display:none;}
.backtop a{ width:40px; height:auto; display:block;}
.backtop a.a1,.backtop a.a3{ height:31px;}
.backtop a.a2,.backtop a.a4{ height:27px;}
.backtop a.a5{ height:29px;}
.backtop a.a6{ height:26px;}
*html .backtop{position:absolute;}


/*-----------基金公告详情-------------*/
.fundggdetal{ background:#f7f8fc; padding:42px 0px;}
.fundgg_cont{ width:922px; background:#FFF; padding:20px 39px;}
.fundgg_cont h3{ color:#3455a2; border-bottom:1px solid #e5e5e5; padding-bottom:10px; line-height:20px; margin-bottom:10px;}
.fundgg_cont h3 span{ display:block; font-size:14px;}
.fundgg_cont p{ text-indent:2em; color:#373737; line-height:24px; padding-bottom:32px;}
.fundgg_cont p.fundgg_p{ width:870px; height:auto; margin:0 auto; text-indent:0em;}


/*-----------公司大事记-------------*/
.evetsmain{ width:916px; height:auto; padding:20px 40px 20px 44px; background:#FFF;}
.evetsblock{ width:886px; /*width:820px;*/ height:auto; /*border-left:1px solid #569ae3;*/ padding-left:30px; background:url(../images/eventline.jpg) 30px 0 repeat-y;/* padding-left:65px;*/ overflow:hidden; padding-bottom:30px;}
.evetsicon{ width:65px; height:71px; float:left; position:relative; padding-bottom:30px; display:inline; }
.evetsicon h3{ width:60px; height:71px; line-height:60px; background:url(../images/icon/eveticon.jpg) 0 0 no-repeat; position:absolute; top:0px; left:-30px; font-size:18px; color:#ffffff; text-align:center; cursor:pointer;}
.on h3{ width:61px; height:60px; line-height:60px; padding-left:10px; background:url(../images/icon/eveticon2.jpg) 0 0 no-repeat; position:absolute; top:0px; left:-30px; font-size:18px; color:#ffffff; text-align:left; cursor:pointer;}
.evetsblockmain{ width:820px; height:auto; float:right; }
.evetsblock dl{ overflow:hidden; padding-top:24px;}
.evetsblock dl dt{ font-size:14px; color:#aeb8d7;}
.evetsblock dl dt span{ color:#4995eb;}
.evetsblock dl dd{ font-size:14px; color:#373737; line-height:24px;}

/*-----------常见问题-------------*/
.fqamain{ width:1000px; height:auto; background:#ffffff; overflow:hidden;}
.fqa_left{ width:190px; height:auto; background:url(../images/leftbg.jpg) repeat-y; padding-bottom:40px; float:left; display:inline;}
.fqa_left h2{ text-align:center; padding:32px 0px 16px; font-size:16px; color:#616b88; line-height:24px;}
.fqa_left h3{ width:134px; height:44px; line-height:44px; border-bottom:1px solid #e5e5e5; color:#616b88; font-size:14px; padding-left:56px; position:relative; cursor:pointer;}
.fqa_left h3 em{ width:10px; height:10px; background:url(../images/icon/fqa_icon1.jpg) 0px 0px no-repeat; position:absolute; top:18px; right:20px;}
.fqa_left h3.on em{ background:url(../images/icon/fqa_icon2.jpg) 0 0px no-repeat;}
#h3_01{ background:url(../images/fqa.jpg) 12px 0 no-repeat;}
#h3_02{ background:url(../images/fqa.jpg) 12px -44px no-repeat;}
#h3_03{ background:url(../images/fqa.jpg) 12px -88px no-repeat;}
#h3_04{ background:url(../images/fqa.jpg) 12px -132px no-repeat;}
#h3_05{ background:url(../images/fqa.jpg) 12px -176px no-repeat;}
.fqa_left ul{ width:190px; height:auto;}
.fqa_left ul li{ width:190px; height:40px; line-height:40px;}
.fqa_left ul li a{ width:130px; height:40px; line-height:40px; padding-left:60px; display:block; font-size:13px; color:#616b88; text-decoration:none; background:url(../images/icon/dot1.png) 22px center no-repeat;}
.fqa_left ul li a:hover,.fqa_left ul li a.current{ background:url(../images/leftbghove.jpg) 0px 0px no-repeat; color:#ffffff; text-decoration:none; }
.fqa_right{ width:750px; height:auto; float:left; padding:0px 30px; display:inline;}
.fqa_right h2{ font-weight:normal; background:url(../images/line5.jpg) 0px 0px no-repeat; padding-left:15px; margin:30px 0px 30px; color:#616b88; font-size:20px;}
.fqa_right h3{ font-weight:normal; color:#4283c9; font-size:16px; padding:10px 0px 10px 34px; border-bottom:1px solid #e5e5e5; position:relative; cursor:pointer;}
.fqa_right h3 em{ width:16px; height:17px; background:url(../images/icon/fqa_icon3.jpg) 0px 0px no-repeat; position:absolute; top:12px; left:0px; _left:-30px;}
.fqa_right h3.on em{background:url(../images/icon/fqa_icon4.jpg) 0px 0px no-repeat;}
.fqa_right ul{ width:698px; height:auto; margin:0 auto; color:#373737; line-height:24px; padding:10px 0px;}


/*-----------基金公告-------------*/
.fundggmain{ width:998px; height:auto; border:1px solid #e5e5e5; background:#FFF; margin-bottom:48px;}
.fundggmain h3{ width:918px; height:44px; line-height:44px; padding:0px 40px; font-size:20px; color:#ffffff; background:#8793b2;}
.newsgg_title{ width:918px; height:auto; margin:0 auto; font-size:16px; color:#3455a2; line-height:24px; border-bottom:1px solid #e5e5e5; padding:15px 0px 10px;}
.newsgg_cont{width:918px; height:auto; margin:0 auto; line-height:24px; color:#373737; text-indent:2em; padding:10px 0px 20px;}
.newsgga{ width:918px; height:auto; margin:0 auto; }
.newsgga a{ color:#626262; text-decoration:none; background:url(../images/icon/icon8.png) 78px center no-repeat; display:block; margin-bottom:20px;}
.newsgga a:hover{ color:#626262; text-decoration:none; }
.fundggmain dl{ width:918px; height:18px; margin:0 auto; overflow:hidden; border-bottom:1px solid #e5e5e5; padding:12px 0px;}
.fundggmain dl dt{ width:112px; height:18px; float:left; color:#787878; overflow:hidden; position:relative;}
.fundggmain dl dt img{ width:16px; line-height:16px; position:absolute; top:0px; right:0px;}
.fundggmain dl dd{ width:796px; height:auto; padding-left:10px; float:left; color:#787878; display:inline;}
.fundggmain dl dd a{ color:#3455a2; text-decoration:none; font-size:13px;}
.pagelist{ text-align:center; padding-bottom:10px;}
.pagelist a{ width:26px; height:25px; line-height:25px; background:url(../images/icon/pagebtn.jpg) -29px 0 no-repeat; text-align:center; display:inline-block; color:#717171; text-decoration:none; margin:0 3px; font-weight:bold;}
.pagelist a:hover,.pagelist a.current{ background:url(../images/icon/pagebtn.jpg) 0px 0 no-repeat; color:#ffffff; text-decoration:none; }
.pagelist a.firstpage{background:url(../images/icon/pagebtn.jpg) -145px 0px no-repeat;}
.pagelist a.firstpage:hover{background:url(../images/icon/pagebtn.jpg) -261px 0px no-repeat;}
.pagelist a.onepage{background:url(../images/icon/pagebtn.jpg) -174px 0px no-repeat;}
.pagelist a.onepage:hover{background:url(../images/icon/pagebtn.jpg) -290px 0px no-repeat;}
.pagelist a.nextpage{background:url(../images/icon/pagebtn.jpg) -87px 0px no-repeat;}
.pagelist a.nextpage:hover{background:url(../images/icon/pagebtn.jpg) -203px 0px no-repeat;}
.pagelist a.lastpage{background:url(../images/icon/pagebtn.jpg) -116px 0px no-repeat;}
.pagelist a.lastpage:hover{background:url(../images/icon/pagebtn.jpg) -232px 0px no-repeat;}
.pagelist a.slapage{ background:none;}
.pagelist a.slapage:hover{ background:none; color:#717171; text-decoration:none; }


/*-----------基金公告详情-------------*/
.fundggdetal{ background:#f7f8fc; padding:42px 0px;}
.fundgg_cont{ width:922px; background:#FFF; padding:20px 39px;}
.fundgg_cont h3{ color:#3455a2; border-bottom:1px solid #e5e5e5; padding-bottom:10px; line-height:20px; margin-bottom:10px;}
.fundgg_cont h3 span{ display:block; font-size:14px;}
.fundgg_cont p{ text-indent:2em; color:#373737; line-height:24px; padding-bottom:32px;}
.fundgg_cont p.fundgg_p{ width:870px; height:auto; margin:0 auto; text-indent:0em;}


/*-----------登陆信息-------------*/
.logincont{ background:#f7f8fc; padding:40px 0px;}
.login_img{ width:643px; height:350px; position:relative; float:left;}
.loginbd{}
.login_img .prev{ width:33px; height:62px; background:url(../images/btn.png) 0 0 no-repeat; position:absolute; left:10px; top:150px;}
.login_img .next{ width:33px; height:62px; background:url(../images/btn.png) 0 -67px no-repeat; position:absolute; right:10px; top:150px; }
.login_img .prev:hover,.login_img .next:hover{}
.login_info{ width:300px; height:350px; float:right; background:#FFF;}
.login_info h2{ height:54px; line-height:54px; font-size:20px; color:#8e6715; background:#f5d36b url(../images/icon/icon3.jpg) 99px center no-repeat; text-align:center;}
.tx_info{ width:202px; height:auto; margin:0 auto; padding-top:40px;}
.username_login{ width:172px; height:32px; line-height:32px; color:#bcbbbb; background:url(../images/input.jpg) 0 0 no-repeat; padding:2px 0px 2px 30px; margin-bottom:30px;}
.tx_info dd{ width:172px; float:left;}
.tx_info dl input{ width:162px; height:30px; line-height:30px; border:none; color:#bcbbbb; background:none;}
.password_login{ width:172px; height:32px; line-height:32px;  background:url(../images/input.jpg) 0 -41px no-repeat; padding:2px 0px 2px 30px; margin-bottom:40px;}
.loginbtn{ width:202px; height:36px; line-height:36px; margin:0 auto; }
.jzzjh{ width:200px; height:auto; margin:0 auto; padding-top:12px; color:#898989;}
.khmm{ text-align:center; color:#898989; padding-top:18px;}
.khmm a{ color:#898989; text-decoration:none;}


/*-----------首页头部二维码-------------*/
.headwarp{ height:247px; background:url(../images/headbg.jpg) repeat-x; border-bottom:1px solid #e5e5e5;}
.headwarp .container,.openwarp .container{ position:relative; padding:17px 0px;}
.headmian{ height:213px; background:url(../images/head.jpg) center 0 no-repeat;}
.close{ width:46px; height:auto; position:absolute; right:0px; top:5px; background:url(../images/close.jpg) right 0 no-repeat; color:#999999; cursor:pointer;}
.openwarp{ display:none;}
.open{ width:46px; height:auto; position:absolute; right:0px; top:5px; background:url(../images/close.jpg) right 0 no-repeat; color:#999999; cursor:pointer;}
/*-----------kv-------------*/
.kvwarp{ width:100%; height:450px; position:relative;}
.kvwarp ul li{ text-align:center;}
.kvwarp a{ height:450px; display:block;}
.kvwarp .kvhd{ height:0px; overflow:hidden;}
.kvwarp .prev{ width:33px; height:62px; background:url(../images/btn.png) 0 0 no-repeat; position:absolute; left:50%; margin-left:-500px; top:195px; }
.kvwarp .next{ width:33px; height:62px; background:url(../images/btn.png) 0 -67px no-repeat; position:absolute; right:50%; margin-right:-500px; top:195px; }
.kvwarp .prev:hover,.kvwarp .next:hover{ }
.kvwarp .prevStop{ display:none; }
.kvwarp .nextStop{ display:none; }
.indexmain{ width:1000px; height:auto; margin:0 auto;}
/*-----------首页kvblock-------------*/
.kvblock{ width:1000px; height:150px; position:relative;}
.kvblock ul{ height:132px; position:absolute; top:-32px; background:url(../images/kvblock.jpg) 0 0 no-repeat;}
.kvblock ul li{ width:250px; height:48px; padding-top:84px; float:left; text-align:center;}
.kvblock ul li a{ color:#FFF; text-decoration:none; font-size:18px; line-height:20px;}
/*-----------首页理财-------------*/
.index_licai{ width:998px; height:359px; border:1px solid #e5e5e5; margin-bottom:90px;}
.licai_01{ width:499px; _width:480px; height:359px; float:left; position:relative;}
.licai_01_cont{ position:absolute; top:0px; left:49px; z-index:10;}
.licai_01 h2{ font-weight:bold; font-size:26px; color:#3455a2; line-height:30px; padding:20px 0px 10px;}
.licai_01 p{ font-size:14px; line-height:22px; color:#626262;}
.licai_01_btn{ width:272px; height:auto; overflow:hidden; padding-top:20px;}
.index_img{ width:449px; height:334px; background:url(../images/index_img1.jpg) 0 0 no-repeat; position:absolute; top:103px; left:29px; z-index:5;}
.licai_02{ width:248px; height:359px; border-left:1px solid #e5e5e5; float:left; }
.licai_02 ul{}
.licai_02 ul li{ width:249px; height:152px; padding-top:27px; }
.licai_p1,.licai_p3,.licai_p2,.licai_p4{ width:48px; height:49px; background:url(../images/index_licai_icon.png) 0 0 no-repeat; margin:0 auto 2px;}
.licai_p1{ background-position:0px 0px;}
.licai_p2{ background-position:0px -49px;}
.licai_p3{ background-position:0px -98px;}
.licai_p4{ background-position:0px -147px;}
.licai_dl1{ width:166px; height:30px; line-height:30px; margin:0 auto;}
.licai_dl1 dt{ width:30px; height:30px; text-align:center; background:url(../images/index_licai_icon.png) 0 -196px no-repeat; font-size:18px; font-weight:bold; color:#FFF; float:left; margin-right:2px; display:inline;}
.licai_dl1 dd{ font-size:18px; color:#f6b60b; font-weight:bold; float:left;}
.licai_p5{ width:162px; margin:0 auto; color:#626262; font-size:14px; margin:0 auto; text-align:center; line-height:20px; padding-top:5px;}
.licai_p5 span{ color:#f6b60b; font-weight:bold; font-size:18px;}
.licai_dl3{ width:110px; height:30px; line-height:30px; margin:0 auto;}
.licai_dl3 dt{ width:30px; height:30px; text-align:center; background:url(../images/index_licai_icon.png) 0 -256px no-repeat; font-size:18px; font-weight:bold; color:#FFF; float:left; margin-right:2px; display:inline;}
.licai_dl3 dd{ font-size:18px; color:#f68001; font-weight:bold; float:left;}
.licai_dl2{ width:184px; height:30px; line-height:30px; margin:0 auto;}
.licai_dl2 dt{ width:30px; height:30px; text-align:center; background:url(../images/index_licai_icon.png) 0 -226px no-repeat; font-size:18px; font-weight:bold; color:#FFF; float:left; margin-right:2px; display:inline;}
.licai_dl2 dd{ font-size:18px; color:#e05c50; font-weight:bold; float:left;}
.licai_dl4{ width:166px; height:30px; line-height:30px; margin:0 auto;}
.licai_dl4 dt{ width:30px; height:30px; text-align:center; background:url(../images/index_licai_icon.png) 0 -286px no-repeat; font-size:18px; font-weight:bold; color:#FFF; float:left; margin-right:2px; display:inline;}
.licai_dl4 dd{ font-size:18px; color:#a44c3c; font-weight:bold; float:left;}
.licai_p6{ width:162px; margin:0 auto; color:#626262; font-size:14px; margin:0 auto; text-align:center; line-height:20px; padding-top:5px;}
.licai_p6 span{ color:#e05c50;}

/*-----------首页投资洞见\基金产品-------------*/
.indexpromain{ background:url(../images/index_pro_bg.jpg) repeat-x;}
.tzdj_pro{ width:1000px; height:494px; margin:0 auto; clear:both;}
.tzdjmain{ width:646px; height:auto; float:left;}
.tzdjmain h1{ padding:30px 0px 16px; border-bottom:1px solid #e5e5e5; overflow:hidden; font-size:26px; color:#616b88; line-height:30px; background:url(../images/icon/tzdj.png) 18px 34px no-repeat; padding-left:60px; position:relative;}
.tzdjmain h1 a{ width:64px; display:block; color:#626262; text-decoration:none; font-size:12px; background:url(../images/icon/icon7.gif) right 8px no-repeat; position:absolute; right:22px; top:40px; font-weight:normal;}
.tzdjmain h1 a:hover{ color:#626262; text-decoration:none;}
.tzdjmain dl{ width:646px; height:188px; padding:30px 0px;}
.tzdjmain dt{ width:146px; height:auto; float:left; text-align:center;}
.tzdjmain dt img{ margin-top:10px;}
.tzdjmain dd{ width:480px; height:auto; float:left;}
.tzdjmain h3{ font-size:18px; color:#3455a2; line-height:30px;}
.tzdj_p1{ font-weight:bold; color:#3455a2; line-height:22px;}
.tzdj_p2{ font-size:13px; color:#626262; line-height:22px; padding:20px 0px 10px;}
.tzdj_p3{ height:20px; line-height:20px; text-align:right; position:relative;}
.tzdj_p3 .share{ color:#3455a2; text-decoration:none; float:right; cursor:pointer;}
.tzdj_p3 .share .sharecont{ _top:10px;}
.tzdj_p3 .share a,.tzdj_p3 .zan a{ color:#626262; text-decoration:none;}
.tzdj_p3 .share a:hover,.tzdj_p3 .zan a:hover,.tzdj_p3 .current a{ color:#3455a2; text-decoration:underline;}
.tzdj_p3 .line{float:right;}
.tzdj_p3 .zan{float:right; cursor:pointer;}
.tzdj_p3 img{ vertical-align:middle; margin:0px 4px;}
/*share cont*/
.tzdjmain .sharecont ul{ width:164px; height:64px; overflow:hidden; padding:6px 0px 0px 13px; border:1px solid #e5e5e5;background:#f1f6ff; -moz-border-radius:2px; -webkitborder-radius:2px; border-radius:2px; }
.tzdjmain .sharecont ul li{ width:82px; height:20px; line-height:20px; padding:0px; float:left;}
.tzdj_p3 .sharecont img{ vertical-align:middle; margin:0px 5px 0px 0x;}
.tzdjmain .sharecont ul li a{ font-size:12px; color:#3455a2; text-decoration:none; display:inline-block;}
.tzdjmain .sharecont ul li a:hover{ color:#3455a2;text-decoration:underline;}
.tzdjmain .current .sharecont{ display:block;}

.tzdjmain ul{ width:646px; border-top:1px solid #e5e5e5; overflow:hidden; padding-top:20px;}
.tzdjmain ul li{ width:282px; height:auto; float:left; color:#626262; line-height:26px; padding:0px 20px; display:inline;}
.tzdjmain ul li a{ color:#3455a2; text-decoration:none; font-size:18px; display:block;}
.xgpromain{ width:352px; height:auto; float:left; border-left:1px solid #e5e5e5;  border-right:1px solid #e5e5e5; background:#FFF; }
.xgpromain h1{ padding:30px 0px 16px; border-bottom:1px solid #e5e5e5; overflow:hidden; font-size:26px; color:#616b88; line-height:30px; background:url(../images/icon/xgcp.png) 18px 34px no-repeat; padding-left:60px; position:relative;}
.xgpromain .funds_hots{ width:296px; padding:0px 28px 40px; border-bottom: 1px solid #e5e5e5; border-top:none;}
.promain{ width:1000px; height:412px; margin:5px auto;}
.hots_pro{ width:353px; height:auto; float:left;}
.hots_pro h1{ height:28px; padding-top:24px; background:url(../images/hotsprobg.jpg) 0 0 no-repeat;}
.hots_pro h1 a{ width:96px; float:right; margin-right:20px; display:inline; color:#FFF; text-decoration:none; background:url(../images/icon/icon7.png) right 2px no-repeat;}
.yximg{ width:23px; height:23px; background:url(../images/yximg.jpg) 0 0 no-repeat; position:absolute; right:-1px; bottom:-1px;}
.prolist{}
.prolist_hd{ height:46px; background:#fbfbfb;}
.prolist_hd ul{ width:353px; height:46px;}
.prolist_hd ul li{ width:117px; height:46px; line-height:46px; float:left; background:url(../images/line6.jpg) right 0 no-repeat; text-align:center; color:#626262; font-size:14px; position:relative; cursor:pointer;}
.prolist_hd ul li.on{ height:44px; line-height:44px; border-bottom:2px solid #4a81bc;}
.prolist_hd ul li.on i{ width:7px; height:4px; background:url(../images/icon/icon8.gif) center 0 no-repeat; position:absolute; bottom:0px;_bottom:-12px; left:55px;}
.prolist_bd{}
.prolistslideBox{ width:304px; height:auto; margin:0 auto;}
.prolist_ul1{ height:38px; line-height:38px; overflow:hidden;}
.li48{ width:48px; float:left;}
.li196{ width:196px; float:left;}
.li60{ width:60px; float:left; text-align:center;}
.li60 p{ margin-top:8px; height:5px;}
.prolist_ul1 .li196{ text-align:center;}
.prolist_ul2{ height:64px; border-bottom:1px solid #e5e5e5; overflow:hidden;}
.prolist_ul2 .li48{ font-size:40px; color:#3455a2;  line-height:64px;}
.prolist_ul2 .li196{ line-height:22px;}
.prolist_ul2 .li196 a{ display:block; line-height:30px; color:#3455a2; font-size:18px; text-decoration:none;}
.prolist_ul2 .li196 a:hover{color:#3455a2; text-decoration:none;}
.prolist_ul2 .li60{ line-height:22px; color:#e60012; font-size:18px;}
.prolist_ul3{ height:18px; border-bottom:1px solid #e5e5e5; overflow:hidden; padding:12px 0px;}
.prolist_ul3 .li48{ font-size:20px; color:#373737; }
.prolist_ul3 .li196 a{ display:block; color:#373737; font-size:16px; text-decoration:none;}
.prolist_ul3 .li196 a:hover{color:#373737; text-decoration:none;}
.prolist_ul3 .li60{ color:#373737; font-size:18px; font-weight:bold;}
.msg{ width:317px; height:39px; line-height:39px; padding-left:36px; background:url(../images/msgbg.jpg) 0 0 no-repeat; color:#FFF;}
.msg span{ font-size:14px;}
.msg a,.msg a:hover{ color:#ffffff; text-decoration:underline;}

.hotspro-1{ width:215px; height:412px; float:left;}
.hotspro-1 h2{ height:50px; border-bottom:3px solid #bdc6da; margin-bottom:20px; background:#FFF;}
.hotspro_p1{ width:150px; height:auto; font-size:18px; color:#3455a2; margin:0 auto;}
.hotspro_p1 span{ display:block; font-size:40px; text-align:center; line-height:42px;}
.hotspro_p2{ text-align:center; padding:20px 0px;}
.hotspro_p3{ width:150px; height:auto; font-size:16px; color:#373737; margin:0 auto; line-height:22px;}
.hotspro_p3 a,.hotspro_p3 a:hover{ color:#373737; text-decoration:none;}
.hotspro_p4{ width:150px; height:auto; font-size:13px; color:#626262; margin:0 auto; line-height:22px; padding:6px 0px 20px;}
.hotspro_p5 a{ width:82px; height:36px; background:url(../images/btnsprite.png) 0 0 no-repeat; display:block; margin:0 auto; text-indent:-9999px;}
.hotspro_p6{ height:38px; line-height:38px; text-align:center; color:#898989; position:relative;}
.hotspro_p6 span{ color:#3f86d6;}
.hotspro_p6 a{ color:#898989; text-decoration:none;}
.hotspro_p6 a:hover{text-decoration:underline;}
.hotspro_p6.current .sharecont{ display:block;}
.hotspro_p6 .sharecont{ left:30px; top:30px;}
.hotspro_p6 .sharetop{ width:22px; padding-left:120px;}
.hotspro_p7{ width:150px; height:60px; font-size:24px; line-height:28px; color:#3455a2; margin:0 auto; text-align:center;}
.hotspro_p8{ width:150px; height:60px; font-size:18px; line-height:26px; color:#3455a2; margin:0 auto; text-align:center;}
.hotspro_p8 span{ font-size:24px; display:block;}
.funds_list{ width:1000px; height:auto; margin:60px auto;}
.fund_pro_title{ width:1000px; height:auto; overflow:hidden; border-bottom:2px solid #4a81bc; position:relative;}
.qxfunds{ width:180px; height:auto; background:url(../images/icon/fundicon.jpg) 25px center no-repeat; padding-left:60px; font-size:26px; line-height:30px; color:#616b88; float:left; display:inline;}
.funds_title{ width:758pxd; float:left;}
.funds_title ul{ overflow:hidden;}
.funds_title ul li{ width:96px; height:42px; line-height:42px; background:url(../images/line6.jpg) 0 -2px no-repeat; float:left; text-align:center; cursor:pointer; position:relative;}
.funds_title ul li.on{ color:#4a81bc;}
.funds_title ul li.on i{ width:7px; height:4px; background:url(../images/icon/icon8.gif) 0 0 no-repeat; position:absolute; bottom:0px;_bottom:-11px; left:44px;}
.lookbtn{ width:96px; height:auto; background:url(../images/icon/icon8.png) right center no-repeat; color:#446cb3; text-decoration:none; position:absolute; top:15px; right:20px;}
.lookbtn:hover{ color:#446cb3; text-decoration:none;}
.fund_main_list{}
.fund_main{}
.fund_mian th{ height:38px; font-weight:normal; background:#f7f7fa; vertical-align:middle; color:#717171;}
.fund_mian td{ height:38px; vertical-align:middle; color:#373737;}
.fund_mian td a,.fund_mian td a:hover{ color:#373737; text-decoration:none;}
.fund_mian span{ padding-left:25px;}
/*-----------首页基金公告、财经资讯、公司动态、理财学堂-------------*/
.index_kstd{ background:#fafbfd; padding:40px 0px;}
.index_kstd ul{ overflow:hidden;}
.index_kstd ul li{ width:196px; height:auto; padding:0px 25px; float:left; display:inline; border-right:1px solid #e6e7e9;}
.index_kstd_p1,.index_kstd_p4,.index_kstd_p5,.index_kstd_p6{ width:89px; height:88px; margin:0 auto; background:url(../images/index_kstd.jpg) 0 0 no-repeat;}
.index_kstd_p1 a,.index_kstd_p4 a,.index_kstd_p5 a,.index_kstd_p6 a{ width:89px; height:88px; display:block;}
.index_kstd_p1{ background-position:0px 0px;}
.index_kstd_p4{ background-position:0px -90px;}
.index_kstd_p5{ background-position:0px -180px;}
.index_kstd_p6{ background-position:0px -270px;}
.index_kstd_p2{ text-align:center; font-size:18px; color:#616b88; padding:25px 0px 10px;}
.index_kstd_p2 a,.index_kstd_p2 a:hover{ color:#616b88; text-decoration:none;}
.index_kstd_p3{ font-size:13px; color:#7d7d7d; line-height:22px;}
.index_kstd_p3 a{ color:#7d7d7d; text-decoration:none;}
.index_kstd_p3 a:hover{ color:#7d7d7d; text-decoration:underline;}

/*-----------注册-------------*/
.regawrp{background:#fafbfd; padding:40px 0px;}
.regawrp .container{ overflow:inherit;}
.regawrp h2{ font-size:20px; color:#616b88; background:url(../images/line5.jpg) 0 0 no-repeat; padding-left:32px;}
.regtab{ width:598px; height:auto; margin:0 auto; padding:56px 0px;}
.regtab table th{ vertical-align:middle; color:#373737; font-size:14px; font-weight:normal; text-align:right;}
.regtab table td{ vertical-align:middle; }
.asinput1{ width:190px; height:34px; line-height:34px; border:1px solid #c6c6ca; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; padding:0px 5px; }
.errow{ line-height:36px; color:#e60012; }
.errow img{ vertical-align:middle; margin-right:5px;}
.zhuce{ width:202px; height:36px; line-height:36px; text-align:center; color:#ffffff; text-decoration:none; background:url(../images/btn/reg1.jpg) 0 0 no-repeat; display:block; font-size:14px;}
.zhuce:hover{background:url(../images/btn/reg2.jpg) 0 0 no-repeat;}
.bordere60012{ border:1px solid #e60012;}
.zjlxinput{ width:140px; height:32px; border:none; float:right; display:inline; background:none;}

/*证件号码\有效期至*/
.formsel3{ width:240px; height:34px; border:1px solid #c6c6ca; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; background:#ffffff; cursor:pointer;}
.formsel3 .zjlxselect{ width:80px; position:relative; float:left;}
.zjlxselect{ position:relative;}
.formsel3 .zjlxselect p{ width:78px; height:34px; line-height:34px; border-right:1px solid #c6c6ca; background:#f8f8f9 url(../images/icon/icon13.jpg) 72px center no-repeat; padding-left:10px; color:#bcbbbb;}
.formsel3 .zjlxselect p span{ color:#373737;}
.zjlxselect ul{ width:88px; border:1px solid #c6c6ca; border-top:none; position:absolute; left:-1px; padding:5px 0px; overflow:hidden; background:#ffffff; }
.zjlxselect ul li{ }
.zjlxselect ul li a{ width:68px; height:auto; padding:0px 10px; line-height:24px; color:#c6c6ca; text-decoration:none; display:block;}
.zjlxselect ul li a:hover{ color:#ffffff; background:#c6cbd0;}
.formsel4{ width:68px; height:34px; border:1px solid #c6c6ca; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; padding:0px 5px; cursor:pointer;}
.yearselect{ position:relative; z-index:30; cursor:pointer;}
.yearselect p{ width:58px; height:36px; line-height:36px; background:url(../images/icon/icon10.jpg) right center no-repeat; padding:0px 5px; font-size:13px; color:#373737;}
.yearselect p span{}
.yearselect ul{ width:78px; border:1px solid #c6c6ca; border-top:none; position:absolute; left:-5px; _left:-6px; padding:5px 0px; overflow:hidden; background:#ffffff; display:none;}
.yearselect ul li{}
.yearselect ul li a{ width:58px; height:auto; padding:0px 10px; line-height:24px; color:#373737; text-decoration:none; display:block;}
.yearselect ul li a:hover{ color:#373737; text-decoration:none; background:#e6e6e6;}

/*-----------客户服务-------------*/
.khfwkv{ height:240px; background:url(../images/khfwkv.jpg) center 0 no-repeat;}
.khfw_title{ width:100%; height:104px; background:#ffffff;}
#khfw_title,#product_data_ul{ z-index:200;}
.khfwul{ width:1000px; height:87px; overflow:hidden; background:#ffffff; padding-top:17px;}
.khfwul li{ width:250px; height:87px; float:left; overflow:hidden;}
.khfwul li a{ width:250px; height:84px; display:block; border-bottom:3px solid #ffffff; font-size:16px; color:#8793b2; text-decoration:none; text-align:center; }
.khfwul p{ width:46px; height:41px; background:url(../images/khfw_icon.jpg) 0 0 no-repeat; margin:0 auto 10px;}
.khfwul p.khfw_p1{ background-position:0px 0px;}
.khfwul p.khfw_p2{ background-position:0px -41px;}
.khfwul p.khfw_p3{ background-position:0px -82px;}
.khfwul p.khfw_p4{ background-position:0px -123px;}
.khfwul li a:hover,.khfwul li a.on{ border-bottom:3px solid #4283c9;}
.khfwul li a:hover p.khfw_p1{ background-position:0px -164px;}
.khfwul li a:hover p.khfw_p2{ background-position:0px -205px;}
.khfwul li a:hover p.khfw_p3{ background-position:0px -246px;}
.khfwul li a:hover p.khfw_p4{ background-position:0px -287px;}
.khfwmain{ background:#f7f8fc;}
.khfwmain h2{ margin:30px 0px 15px;}
.khzx_block,.tsjy_block,.zxfw_block,.xxdz_block{ width:920px; height:auto; margin:0 auto; overflow:hidden;}
.khzx_block h3{ text-align:center; font-weight:normal; font-size:20px; color:#616b88; padding-bottom:28px;}
.khzx{ width:918px; height:238px; border:1px solid #c6c6ca; background:#ffffff; }
.khzx_l{ width:701px; height:238px; float:left; position:relative;}
.khzx_ul1,.khzx_ul2{ width:588px; border-bottom:1px solid #eaeaeb; padding:20px 0px 20px 113px; overflow:hidden; color:#373737; line-height:24px;}
.khzx_li1{ width:140px; height:auto; float:left; border-right:1px solid #eaeaeb;}
.khzx_ul1 li{ font-size:13px; color:#373737;}
.khzx_ul1 li span,.khzx_ul2 li span{ color:#787878;}
.khzx_li2{ width:380px; height:auto; float:right; padding-right:30px; display:inline;}
.khzx_ul2{ border-bottom:none; padding:20px 0px 0px 113px;}
.khzx_li3{ width:230px; height:auto; float:left; border-right:1px solid #eaeaeb;}
.khzx_li3 dl{ width:230px; height:auto; overflow:hidden;}
.khzx_li3 dl dt{ width:94px; height:auto; float:left; color:#787878;}
.khzx_li3 dl dd{ width:136px; height:auto; float:left;}
.khzx_li4{ width:280px; float:right; padding-right:30px; display:inline;}
.khzx_2{ width:216px; height:90px; float:right; background:url(../images/khfwimg1.jpg) 0 0 no-repeat; padding-top:148px; display:inline; border-left:1px solid #eaeaeb;}
.khzx_2 a{ width:178px; height:64px; margin:0px auto; font-size:16px; color:#616b88; text-decoration:none; line-height:22px; background:url(../images/icon/icon8.png) center bottom no-repeat; display:block; text-align:center; padding-top:10px;}
.zdyy,.rgzx{ width:55px;text-align:center; color:#4a526b; font-size:13px; position:absolute; left:32px; top:20px; }
.zdyy p{ width:55px; height:60px; background:url(../images/khfw_icon.jpg) 0 -334px no-repeat;}
.rgzx{ top:146px; }
.rgzx p{ width:55px; height:55px; background:url(../images/khfw_icon.jpg) 0 -398px no-repeat;}
.tsjy_block,.zxfw_block{ padding-bottom:30px;}
.tsjy_left{ width:216px; height:auto; float:left; border:1px solid #c6c6ca; position:relative; background:#ffffff; z-index:10;}
.tsjy_left a{ width:216px; height:42px; display:block; margin:15px 0px 10px; font-size:16px; color:#616b88; text-decoration:none;  background:url(../images/icon/icon8.png) center bottom no-repeat; text-align:center; line-height:22px;}
.tsjy_left a:hover,.zxfw_block ul li a:hover,.xxdz_r a:hover{ color:#616b88; text-decoration:none; }
.tsjy_right{ width:643px; height:auto; float:right;}
.tsjy_right p{ line-height:24px; color:#373737; padding-top:20px;}
.zxfw_block p{ color:#373737; font-size:13px; padding-bottom:15px;}
.arraowicon{ width:11px; height:6px; background:url(../images/icon/icon11.png) 0 0 no-repeat; position:absolute; left:15px; top:140px;}
.zxfw_block ul{ overflow:hidden;}
.zxfw_block ul li{ width:298px; height:auto; float:left; border:1px solid #c6c6ca; margin-right:10px; background:#ffffff; position:relative;}
.zxfw_block ul li a{ width:298px; height:36px; display:block; margin:5px 0px 10px; _margin:10px 0px 10px;  font-size:16px; color:#616b88; text-decoration:none;  background:url(../images/icon/icon8.png) center bottom no-repeat; text-align:center;}
.zxfw_block .arraowicon{ top:123px;}
.xxdz_block{ padding-bottom:50px;}
.xxdz_block p{ width:920px; height:auto; float:left; color:#373737; line-height:24px;}
.xxdz_l{ width:682px; height:auto; float:left; padding-top:40px; display:inline;}
.xxdz_l ul{ overflow:hidden; background:url(../images/khfwimg9.jpg) 0 0 no-repeat; padding-top:78px;}
.xxdz_l ul li{ text-align:center; float:left; display:inline; line-height:24px; font-size:13px; color:#373737;}
.xxdz_r{ width:216px; height:auto; float:right; border:1px solid #c6c6ca; position:relative; background:#ffffff;}
.xxdz_r a{ width:216px; height:60px; display:block; margin:10px 0px 10px; font-size:16px; color:#616b88; text-decoration:none;  background:url(../images/icon/icon8.png) center bottom no-repeat; text-align:center; line-height:22px;}
.khfw_title_scroll{position : fixed ;  top : 0px ;_position: absolute ;_top:expression(documentElement.scrollTop )/* position:fixed; top:0px; _position:absolute;_margin-top:0px; _top:expression(eval(document.documentElement.scrollTop)); overflow: visible;*/}

/*-----------专户理财-------------*/
.zhlcwarp{ background:#f7f8fc; padding:40px 0px;}
.zhlc_ul{ overflow:hidden;}
.zhlc_ul li{ width:243px; height:260px; float:left; background:#ffffff; margin-right:9px; margin-bottom:9px; display:inline; position:relative;}
.zhlc_ul li .arraowicon{ top:130px;}
.zhlc_ul h3{ width:210px; height:34px; line-height:34px; margin:0 auto; font-weight:normal; font-size:20px; color:#616b88;}
.zhlc_ul span{ width:210px; height:20px; line-height:20px; margin:0 auto; display:block; color:#898989;}
.zhlc_ul p{ width:210px; height:40px; overflow:hidden; margin:0 auto; color:#373737; line-height:20px;}
.zhlc_ul .ckgdbtn{ width:190px; height:auto; margin:0 auto; background:; color:#626262; text-decoration:none; display:block; padding-right:20px; text-align:right; background:url(../images/icon/icon12.jpg) right center no-repeat;}
.zhlc_ul h3 a{ color:#616b88; text-decoration:none;}
.zhlc_ul p a{ color:#373737; text-decoration:none; text-decoration:underline;}
.zhlc_ul .ckgdbtn a{ color:#626262; text-decoration:none;}
.zhlc_ul p.zhlc_p{ height:auto; margin:0 auto;}
.zhlc_ul p.zhlc_p a{ background:none; text-align:left;}
.zhlc_ul p.zhlc_p a img{ margin-left:5px; vertical-align:middle;}

/*-----------销售机构-------------*/
.xsjgwarp{ background:#f7f8fc; padding:40px 0px;}
.xsjgwarp .container{ background:#ffffff url(../images/leftbg.jpg) repeat-y; }
.xsjgleft{ width:190px; height:auto; float:left; padding-bottom:50px; display:inline;}
.xsjgleft ul,.xsjgleft ul li{}
.xsjgleft li a{ width:150px; height:115px; color:#616b88; text-decoration:none; font-size:13px; line-height:24px; display:block; padding:0px 20px; }
.xsjgleft li.xsjg_Li1 a{ height:81px; padding:34px 20px 0px;}
.xsjgleft li.xsjg_Li2 a{ height:91px; padding:24px 20px 0px;}
.xsjgleft li.xsjg_Li3 a{ height:105px; padding:10px 20px 0px;}
.xsjgleft li a:hover,.xsjgleft li a.on{ background:url(../images/leftbghove2.jpg) 0 0 no-repeat; color:#ffffff;}
.xsjgright{ width:750px; height:auto; float:right; padding:32px 30px 50px; display:inline;}
.xsjgright h2{ font-weight:normal; font-size:20px; line-height:22px; background: url(../images/line5.jpg) no-repeat scroll 0px center transparent;padding-left: 18px;color:#616B88;}
.xsjgmain{ margin-top:22px;}
.xsjd_sidebox_main{ padding:10px 0px;}
.xsjg_hd,.xsjg_hd ul{ width:750px; height:42px; overflow:hidden;}
.xsjg_hd ul li{ width:375px; height:42px; line-height:42px; text-align:center; color:#4a526b; font-size:16px; float:left; background:url(../images/xsjg01.jpg) -375px 0px no-repeat; cursor:pointer;}
.xsjg_hd ul li.on{ background:url(../images/xsjg01.jpg) 0px 0px no-repeat;}
.xsjg_bd{}
.xsjd_sidebox{/* height:282px;*/ overflow:hidden;}
.xsjd_sidebox_main{ height:auto; overflow:hidden;background:#e6f2ff;}
.xsjg_bd_ul,.xsjg_bd_ul2,.xsjg_bd_ul3{ width:100%; overflow:hidden;}
.xsjg_bd_ul li{ width:134px; height:auto; float:left; margin:0px 26px; display:inline; padding:5px 0px;}
.xsjg_bd_ul li a{ height:24px; line-height:24px; border:1px solid #e6f2ff; display:inline-block; color:#373737; text-decoration:none; padding:0px 6px;}
.xsjg_bd_ul li.on a{ background:#f7f9fb; border:1px solid #d1dbe6; color:#2a5ed7;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.xsjg_bd_ul2 li{ width:192px; height:auto; float:left; margin:0px 19px; display:inline; padding:5px 0px;}
.xsjg_bd_ul2 li a{ height:24px; line-height:24px; border:1px solid #e6f2ff; display:inline-block; color:#373737; text-decoration:none; padding:0px 6px;}
.xsjg_bd_ul2 li.on a{ background:#f7f9fb; border:1px solid #d1dbe6; color:#2a5ed7; -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.xsjg_bd_ul3 li{ width:162px; height:auto; float:left; margin:0px 34px; display:inline;}
.xsjg_bd_ul3 li a{ width:150px; height:24px; line-height:24px; border:1px solid #e6f2ff; margin:10px 0px; display:block; color:#373737; text-decoration:none; padding-left:6px;}
.xsjg_bd_ul3 li a:hover{ background:#f7f9fb; border:1px solid #d1dbe6; color:#2a5ed7;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.xsjg_tab,.xsjg_tab2{ margin-top:20px; color:#373737;}
.xsjg_tab  td{ height:38px; vertical-align:middle; border-bottom:1px solid #cee5ff; }
.xsjg_tab2  td{ height:38px; vertical-align:middle; border:1px solid #cee5ff; }
.zhu{ font-size:13px; color:#565656; text-align:center; padding:25px 0px 0px; line-height:22px;}
/*滚动条*/
.scroll-pane{ width:732px; height:262px; overflow:auto; float:left; padding-top:28px;}
.jScrollPaneContainer{position:relative;overflow:hidden;z-index:1;}
.jScrollPaneTrack{position:absolute;cursor:pointer;right:0;top:0;height:100%;background:#8793b2;}
.jScrollPaneDrag{position:absolute;background:url(../images/osx_drag_middle.jpg) repeat-y;cursor:pointer;overflow:hidden;}
.jScrollPaneDragTop{position:absolute;top:0;left:0;overflow:hidden;}
.jScrollPaneDragBottom{position:absolute;bottom:0;left:0;overflow:hidden;}
a.jScrollArrowUp{display:block;position:absolute;z-index:1;top:0;right:0;text-indent:-2000px;overflow:hidden;height:20px; background:#8793b2 url(../images/icon/jScrollArrowUpimg.gif) 0 top no-repeat;}
a.jScrollArrowUp:hover{}
a.jScrollArrowDown{display:block;position:absolute;z-index:1;bottom:0;right:0;text-indent:-2000px;overflow:hidden;height:20px; background:#8793b2 url(../images/icon/jScrollArrowDown.gif) 0 bottom no-repeat;}
a.jScrollArrowDown:hover{}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover{}
/* IE浏览器特定的 hack styles */
*html .osX .jScrollPaneDragBottom{bottom:-1px;}

/*分享给好友*/
.sharecont{ width:182px; height:77px; position:absolute; top:18px; left:370px; display:none; z-index:10; text-align:left;}
.sharecont ul{ width:164px; height:64px; overflow:hidden; padding:6px 0px 0px 13px; border:1px solid #e5e5e5;background:#f1f6ff; -moz-border-radius:2px; -webkitborder-radius:2px; border-radius:2px; _margin-top:-5px; }
.sharecont ul li{ width:82px; height:20px; line-height:20px; padding:0px; float:left;}
.sharecont img{ vertical-align:middle; margin:0px 5px 0px 0x;}
.sharecont ul li a{ font-size:12px; color:#3455a2; text-decoration:none; display:inline-block;}
.sharecont ul li a:hover{ color:#3455a2;text-decoration:underline;}
.sharetop{ width:144px; height:5px; padding-left:20px; margin:0;/* _overflow:hidden;*/}

/*2014-09-03  add*/

/*二维码提示*/
.topwarp .wechatHome{display:none; width: 100%; position: relative; height: 260px; background: url("../images/box/wechathomeBg.jpg") 0 0 repeat-x; }
.topwarp .wechatHome .inner{width: 1040px; height: 260px; margin: 0 auto; position: relative;}
.topwarp .wechatHome .close{ position: absolute; top: 0; right: 0; z-index: 9; display: block; padding: 10px 30px 10px 10px; color: #999999; text-decoration: none; background:url("../images/box/icon_close.jpg") 40px center no-repeat; font-size: 12px;line-height: 15px; }

/*搜索*/
.logomenu .li1{padding:0px 28px 0px 5px; position: relative; border-radius: 5px;border:1px solid #b9c5d3; -webkit-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;  width: 48px; }
.logomenu .li1 .search{width: 100%; display: block;background: none;  border: none; line-height: 26px; border-radius: 0; outline: none;}
.logomenu .li1 span{width: 28px; height: 30px;display: block; position: absolute; right: 0px; top: 0px; background: url("../images/icon/search.jpg") center no-repeat; z-index: 9;}


/*基金超市*/
.marketMoney{display: none; width: 100%;height: 334px;background:#fff; position: relative; overflow: hidden;border-top:solid #2461a3 5px; border-bottom: solid 1px #edf6fd;}
.marketMoney .marketSubMenu{width: 120px; background: #edf6fd; float: left; padding-top:40px; height: 294px;}
.marketMoney .marketSubMenu ul{width: 100%; overflow: hidden;}
.marketMoney .marketSubMenu ul .submenu{width: 100%; height:30px; }
.marketMoney .marketSubMenu ul .active{background: #ffffff;}
.marketMoney .marketSubMenu ul .submenu a{display: block; font-weight: bold; text-align: center; font-size: 12px; width: 100%; height: 30px; text-decoration: none;color:#373737;line-height: 30px; }
.marketMoney .marketSubMenu ul .active a{color: #3f86d6;background: url("../images/box/icon_arrow.png") 85px center no-repeat;_background-image: url("../images/box/icon_arrow.gif");}
.marketMoney .shouyilvCon{width: 150px; height: 334px; float: right;}
.marketMoney .shouyilvCon .pro{ width: 100%; height:166px;background: #edf6fd;}
.marketMoney .shouyilvCon .pro a{ width:100%; height:166px; text-decoration:none; display:block;}
.marketMoney .shouyilvCon .pro p{width: 98px; margin: 0 auto;  font-size: 12px;color:#535353;line-height: 15px;}
.marketMoney .shouyilvCon .pro p .shouyi,
.marketMoney .shouyilvCon .pro p .beishu{color: #e60012; font-weight: bold; }
.marketMoney .shouyilvCon .fubaoCon{ margin-bottom: 2px; background: url("../images/box/icon_fubao.png") center 30px no-repeat #edf6fd;_background-image:url('../images/box/icon_fubao.gif');}
.marketMoney .shouyilvCon .huabaotianyi{height: 166px;background: #edf6fd; background: url("../images/box/icon_huabaotianyi.png") center 12px no-repeat #edf6fd;_background-image:url('../images/box/icon_huabaotianyi.gif');}
.marketMoney .marketDetail{width: 415px; height: 334px; overflow: hidden; float: left;}
.marketMoney .marketDetail .list{display: none;}
.marketMoney .list{width: 100%; overflow: hidden;}
.marketMoney .list li{width: 100%; height: 30px;}
.marketMoney .list li span{display: block;height: 30px; color:#989898; font-weight: bold; float: left; line-height: 30px; text-align: center;}
.marketMoney .list li span a,.marketMoney .list li span a:hover{ color:#989898; text-decoration:none;}
.marketMoney .list li .name{width: 125px; text-indent: 15px; text-align: left; }
.marketMoney .list li .value{width: 85px;}
.marketMoney .list li .total{width: 85px;}
.marketMoney .list li .zhangfu{width: 100px;}
.marketMoney .list li .red{color:#e60012;}
.marketMoney .list li .green{color:#4ebd60;}
.marketMoney .list .header{ font-weight: bold;height: 40px;}
.marketMoney .list .header span{line-height:40px; height: 40px; color: #373737;}
.loginmain{position: relative; z-index: 9;}
.loginmain .loginCon{display:none; width: 200px; height: 190px;background: #fae394; position: absolute; top: 47px;left: 0; z-index: 9;}
.loginmain .loginCon .item{width: 170px;background:#ffffff; margin: 18px auto 0 auto; height: 30px; border: 1px solid #c8b676; border-radius: 5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px;}
.loginmain .loginCon .item em{display: block; float: left; width: 25px; height: 14px;margin-top:8px; border-right: solid 1px #cccccc; }
.loginmain .loginCon .username em{background: url("../images/box/icon_user.png") center no-repeat; _background-image: url("../images/box/icon_user.gif");}
.loginmain .loginCon .password em{background: url("../images/box/icon_pasd.png") center no-repeat; _background-image: url("../images/box/icon_pasd.gif");}
.loginmain .loginCon input{background: none;  margin:0px 5px; float: left; width: 130px; height: 30px; line-height: 30px; outline: none;  -webkit-appearance: none; border: none; }
.loginmain .loginCon .loginBtnForServer{width: 170px;  margin: 18px auto 0 auto; background: url("../images/box/icon_loginBtnBg.png") 0 0 repeat-x; height: 32px; line-height: 30px; border-radius: 5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px;}
.loginmain .loginCon .loginBtnForServer a{width: 100%; height: 30px; line-height: 30px; text-align: center; display: block; color: #ffffff; font-size: 14px;font-weight: bold;}
.loginmain .loginCon .forgotPasd{color: #898989; display: block; text-align: center;line-height: 20px;}
.loginmain .loginCon .n{color:#d2d2d2;}
.loginmain .loginCon .password .tips{left:46px; width: 144px; position: absolute;  height: 30px; line-height: 30px;color:#d2d2d2; display: block; position: absolute;z-index: 9; }
.loginmain .loginCon .password .pasd{position: relative;z-index: 9; }

/*可以拖动进度*/
.funds_style ul li{position: relative;}
.processBar{width: 16px; height: 223px; position: absolute; left: 0; top: 58px; }
.processBar .bar{display: block; position: absolute; top: 2px; left: 0; z-index: 8; width: 16px; height: 13px; background: url("../images/line3_icon.jpg") center center no-repeat; }

* { -webkit-user-drag: none; -moz-user-drag: none;user-drag: none;-ms-user-drag: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}

.productmain .tip{width: 100%; font-size: 12px; color: #737373;}
.productmain .tip p{width: 100%; text-indent: 40px;}

/*.hdmain .tip{width: 100%; font-size: 12px; color: #737373; clear: both;padding-top: 10px;}
.hdmain .tip p{width: 100%; text-indent: 40px;}*/

.hdjxz{background: #f4984d;}


